    <h2 matDialogTitle class="candidate-title">Add Product</h2>
    <form method="POST" [formGroup]="productForm"> 
        <div class="form-container">
            <div class="row col-md-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12">
                    <mat-form-field>
                        <input matInput formControlName="productName" placeholder="Product Name" required>                        
                            <mat-error *ngIf="productForm.controls['productName'].errors || !productForm.controls['productName'].dirty">
                                <span *ngIf="productForm.controls['productName'].errors.required">Product Name is required </span>
                            </mat-error>
                    </mat-form-field>
                </div>  
                <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12">
                    <mat-form-field>
                        <input matInput formControlName="productSKU" required placeholder="SKU">
                        <mat-error *ngIf="productForm.controls['productSKU'].errors || !productForm.controls['productSKU'].dirty">
                            <span *ngIf="productForm.controls['productSKU'].errors.required">Product SKU is required </span>
                        </mat-error>
                    </mat-form-field>
                </div>   
            </div>     

            <div class="row col-md-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12">
                    <mat-form-field>
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="productCategory">
                            <mat-option *ngFor="let categoryList of category" [value]="categoryList.name">
                            {{categoryList.categoryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>  
                <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12">
                    <mat-form-field>
                        <mat-label>Subcategory</mat-label>
                        <mat-select formControlName="productSubCategory">
                            <mat-option *ngFor="let subcategoryList of subcategory" [value]="subcategoryList.name">
                            {{subcategoryList.subcategoryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>   
            </div>     

            <div class="row col-md-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12">
                    <mat-form-field>
                        <input matInput formControlName="productCost" required placeholder="Cost Price">
                        <mat-error *ngIf="productForm.controls['productCost'].errors || !productForm.controls['productCost'].dirty">
                            <span *ngIf="productForm.controls['productCost'].errors.required">Product Cost is required </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" required formControlName="productExpiry" (click)="picker.open()" placeholder="Expiry Date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>                    
                </div>
            </div>
            <div class="row col-md-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12">
                    <mat-form-field>
                        <input matInput formControlName="productBrand" required placeholder="Brand">
                        <mat-error *ngIf="productForm.controls['productBrand'].errors || !productForm.controls['productBrand'].dirty">
                            <span *ngIf="productForm.controls['productBrand'].errors.required">Brand is required </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12">
                    <mat-form-field>
                        <input matInput formControlName="productUOM" required placeholder="UOM">
                        <mat-error *ngIf="productForm.controls['productUOM'].errors || !productForm.controls['productUOM'].dirty">
                            <span *ngIf="productForm.controls['productUOM'].errors.required">UOM is required </span>
                        </mat-error>
                    </mat-form-field>
                        <!-- <p class="radioLabel">Tax Applicable</p>
                        <mat-radio-group formControlName="productTax">
                            <mat-radio-button  [value]="1">Yes</mat-radio-button>
                            <mat-radio-button [value]="2" class="ml-2">No</mat-radio-button>
                        </mat-radio-group>  -->
                </div>
            </div>
            <div class="row col-md-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12">
                    <p class="radioLabel">Is Retail</p>
                    <mat-radio-group formControlName="productRetail" color="primary">
                        <mat-radio-button  [value]="1">Yes</mat-radio-button>
                        <mat-radio-button [value]="2" class="ml-2">No</mat-radio-button>
                    </mat-radio-group> 
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                <mat-form-field>
                    <textarea matInput formControlName="productNote" placeholder="Notes"></textarea>
                </mat-form-field>
            </div>
            <!-- <div class="col-md-12"> -->
                <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 fr">
                    <button mat-raised-button color="warn" (click)="cloesModal()">Close</button>
                    <button mat-raised-button color="warn" class="ml-2">Clear</button> 
                    <button mat-raised-button color="primary" [disabled]="!productForm.valid" class="ml-2">Submit</button> 
                </div>
            <!-- </div> -->
        </div>
    </form>
