
<div fxLayout="column" fxLayoutAlign="start">
    <div fxLayout="row">
        <div fxFlex="83%" fxLayoutAlign="start">
            <h2>Sales</h2>
        </div>
        <div fxFlex="16%" fxHide fxShow.gt-sm fxLayoutAlign="end">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" [routerLink]="['/beautelabs/cbot-admin/dashboard']"><mat-icon>home</mat-icon></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sales</li>
                </ol>
                </nav>
        </div>
    </div>    
</div>
<div fxLayout="column">
    <div fxLayout="row">
        <div fxFlex="68%" fxLayoutAlign="start" class="mb-10 mt-2">
            <button mat-raised-button color="primary" [routerLink]="['/beautelabs/cbot-admin/saleCreate']" style="height:35px;">Add New Sale</button> 
        </div>        
        <div fxFlex="12%">
            <mat-form-field class="mt-6">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="today">Today</mat-option>
                    <mat-option value="last week">Last Week</mat-option>
                    <mat-option value="last 15 days">Last 15 Days</mat-option>
                    <mat-option value="last month">Last Month</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="18%" fxLayoutAlign="end">
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
    </div>
</div>
<div fxLayout="row">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
    <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
    </ng-container>
    
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>                
    
    <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
        <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="serviceName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Service  </th>
        <td mat-cell *matCellDef="let element"> {{element.serviceName}} </td>
    </ng-container>
    
    <ng-container matColumnDef="serviceDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.serviceDate}} </td>
    </ng-container>   

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
            <button mat-flat-button [matMenuTriggerFor]="menu" color="primary">Action</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                        <mat-icon>remove_red_eye</mat-icon> View                        
                </button>                 
            </mat-menu>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>




