<div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 booking">            
    <!-- <div class="col-xl-1 col-sm-2 topwidth pall-zero">
        <h2 class="page-title">Sales</h2> 
    </div> -->
    <div class="col-xl-1 col-sm-2 topwidth">
        <button mat-raised-button (click)="createSale(0)" [routerLink]="['/beautelabs/cbot-admin/sales']" routerLinkActive="active" class="bookingbtn mt-2"><mat-icon>add</mat-icon>New</button> 
    </div>
    <div class="col-xl-3 col-lg-3 col-sm-2 topwidth pbzerofield" fxHide.lt-sm>
        <mat-form-field class="bookingstaff">
            <mat-label>Select</mat-label>
            <mat-select>
                <mat-option value="all">All</mat-option>
                <mat-option value="today">Today</mat-option>
                <mat-option value="last week">Last Week</mat-option>
                <mat-option value="last 15 days">Last 15 Days</mat-option>
                <mat-option value="last month">Last Month</mat-option>
            </mat-select>
        </mat-form-field> 
    </div>
    <div class="col-xl-8 col-lg-8 col-sm-9 pall-zero mall-zero pbzerofield paginator">
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" class="table-paginator"></mat-paginator> 
    </div>
</div>
<div class="row col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12 pall-zero mall-zero newCardTable scrollDiv">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-striped wrapmattbl" matSort>    
        
        <ng-container matColumnDef="billNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Bill # </th>
            <td mat-cell *matCellDef="let element" (click)="openViewModal(element)" class="linkText"> {{element.billNo}} </td>
        </ng-container>

        <ng-container matColumnDef="billDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.billDate}} </td>
        </ng-container>   
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>                
        
        <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
        </ng-container>

        <ng-container matColumnDef="totalAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total (₹) </th>
            <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
        </ng-container>
        
        

        <!-- <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="width:40px">Action</th>
            <td mat-cell *matCellDef="let element" style="width:40px">
                <mat-icon color="primary" (click)="openViewModal(element)">remove_red_eye</mat-icon>                                    
            </td>
        </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>         
    </table>
    <!-- <mat-toolbar class="bg-light">
        <mat-toolbar-row>
            <span class="example-spacer"></span>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator> 
        </mat-toolbar-row>
    </mat-toolbar> -->
</div>

<!-- View Sale Details -->

<div class="modal bookingmodel" id="myModal" [style.display]="showModal ? 'block' : 'none'">
        <div class="modal-dialog saledialog">            
            <div class="modal-content">   
                <div class="modal-header">
                    <h5 class="modal-title"> 
                        Billing Details - {{View?.billNo}}
                        <span class="fr"> <mat-icon (click)="hide()" class="warn">close</mat-icon> </span>
                    </h5>
                </div>
                <div class="modal-body">                                                   
                    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 pall-zero">
                        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6 halfwidth">             
                            <p>Customer : {{View?.name}}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6 halfwidth pall-zero">             
                            <p>Date : {{View?.billDate}}</p>
                        </div>
                    </div>
                    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 pall-zero">
                        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">  
                            <p>Source : {{View?.source}} </p>
                        </div>
                    </div>
                    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12">
                        <h4>Service Details</h4>
                    </div>
                    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                    <th>Service</th>
                                    <th>Staff</th>
                                    <th>Price (₹)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>Hair Cut</td>
                                    <td>Devi</td>
                                    <td>250.00</td>
                                    </tr>
                                    <tr>
                                    <td>Threading</td>
                                    <td>Nithya</td>
                                    <td>50.00</td>
                                    </tr>
                                    <tr>
                                    <td>Facial</td>
                                    <td>Nithya</td>
                                    <td>1425.00</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                    <div class="row col-md-12 col-xl-12 col-sm-12 col-lg-12">
                        <h4>Feedback</h4>
                        <table class="full-width table table-bordered wraptbl">
                            <tr>
                                <th>#</th>
                                <th>Questions</th>
                                <th>Answer</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="row col-md-12 col-xl-12 col-sm-12 col-lg-12">                    
                        <h5 class="page-subtitle">Loyalty Points</h5>
                    </div>
                    <div class="row col-md-12 col-xl-12 col-sm-12 col-lg-12 pall-zero mall-zero">
                        <div class="col-md-6 col-xl-6 col-sm-12 col-lg-6 halfwidth">
                            <p>Earned : 15</p>
                        </div>
                        <div class="col-md-6 col-xl-6 col-sm-12 col-lg-6 halfwidth">
                            <p>Redeemed : Nil</p>
                        </div>
                    </div>
                    <div class="row col-md-12 col-xl-12 col-sm-12 col-lg-12 pall-zero mall-zero">
                        <h5 class="page-subtitle">Voucher Points</h5>
                    </div>
                    <div class="row col-md-12 col-xl-12 col-sm-12 col-lg-12 pall-zero mall-zero">
                        <div class="col-md-6 col-xl-6 col-sm-12 col-lg-6 halfwidth">
                            <p>Earned : 15</p>
                        </div>
                        <div class="col-md-6 col-xl-6 col-sm-12 col-lg-6 halfwidth">
                            <p>Redeemed : Nil</p>
                        </div>
                    </div>               
                    <div class="row col-md-12 col-xl-12 col-sm-12 col-lg-12">
                        <h5 class="page-subtitle">Prepaid Balance : Nil</h5>
                    </div>
                    <div class="row col-md-12 col-xl-12 col-sm-12 col-lg-12">
                        <h4 matDialogTitle>Payment Details</h4>
                    </div>
                    <div class="row col-md-12 col-xl-12 col-sm-12 col-lg-12">
                        <div class="row col-md-12 col-xl-12 col-sm-12 col-lg-12 pall-zero mall-zero">
                            <div class="col-md-6 col-xl-6 col-sm-6 col-lg-6 halfwidth">
                                <p>Mode </p>
                                <p>Total (₹)</p>
                                <p>Discount (₹)</p>
                                <p>Amount Paid (₹)</p>
                                <p>Outstanding (₹)</p>
                            </div>
                            <div class="col-md-6 col-xl-6 col-sm-6 col-lg-6 halfwidth">
                                <p>Cash</p>
                                <p>1,725.00</p>
                                <p>0.00</p>
                                <p>1,725.00</p>
                                <p>0.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- Modal footer -->
                <div class="modal-footer">
                    <button mat-raised-button class="startBillbtn ml-2" (click)="hide()">Close</button>
                </div>            
            </div>
        </div>
</div>
