<!-- <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 booking mr-zero ml-zero pall-zero">            
    <div class="col-xl-1 col-sm-2 topwidth">
        <h2 class="page-title">Services</h2> 
    </div>        
   
</div> -->
<!-- <mat-drawer-container class="example-container pall-zero mall-zero">  -->
    <div class="example-container pall-zero mall-zero">
        <mat-card class="newCard">
            <mat-tab-group>
                <mat-tab label="Category"> 
                    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 booking ml-zero pall-zero">
                        <div class="col-xl-1 col-sm-2 topwidthcustomer pall-zero">
                            <button mat-raised-button color="primary" (click)="serviceCategoryCreate(categorycreatetemplate)" class="bookingbtn mt-2"><mat-icon>add</mat-icon>New</button> 
                        </div>
                        <div class="col-sm-4 col-xl-3 col-lg-3 searchField pbzerofield">
                            <mat-form-field>
                                <input matInput (keyup)="applyCategoryFilter($event.target.value)" placeholder="Search Category by Name">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field> 
                        </div>                        
                        <div class="col-xl-6 col-lg-6 col-sm-6 pall-zero pbzerofield paginator">
                            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" class="table-paginator"></mat-paginator>
                        </div>
                    </div>
                    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 booking ml-zero pall-zero">
                        <table mat-table [dataSource]="serviceCategorySource" class="mat-elevation-z8" matSort class="full-width">
                        
                        <ng-container matColumnDef="sno">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="serviceCategoryName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.serviceCategoryName}} </td>
                        </ng-container>
                                    
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let element; let i=index;">                           
                                <mat-icon color="primary" class="actionicon" matTooltip="Edit">edit</mat-icon>                                   
                                <mat-icon color="warn" class="actionicon" matTooltip="Delete">delete</mat-icon>                                    
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedCategoryColumns; sticky:true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedCategoryColumns;"></tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Sub Category"> 
                    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 booking ml-zero pall-zero">
                        <div class="col-xl-1 col-sm-2 topwidthcustomer pall-zero">
                            <button mat-raised-button (click)="serviceSubCategoryCreate(subcategorycreatetemplate)" class="bookingbtn mt-2"><mat-icon>add</mat-icon>New</button> 
                        </div>
                        <div class="col-sm-4 col-xl-3 col-lg-3 searchField pbzerofield">
                            <mat-form-field>
                                <input matInput (keyup)="applySubCategoryFilter($event.target.value)" placeholder="Search Sub Category by Name">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>                        
                        <div class="col-xl-6 col-lg-6 col-sm-6 pall-zero pbzerofield paginator">
                            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" class="table-paginator"></mat-paginator>
                        </div>
                    </div>
                    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 booking ml-zero pall-zero">
                        <table mat-table [dataSource]="serviceSubCatgeorySource" class="mat-elevation-z8" matSort>
                        
                        <ng-container matColumnDef="sno">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="serviceCategoryName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                            <td mat-cell *matCellDef="let element"> {{element.serviceCategoryName}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="serviceSubCategoryName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Category </th>
                            <td mat-cell *matCellDef="let element"> {{element.serviceSubCategoryName}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let element; let i=index;">
                                <mat-icon color="primary" class="actionicon" matTooltip="Edit">edit</mat-icon>                                   
                                <mat-icon color="warn" class="actionicon" matTooltip="Delete">delete</mat-icon>                                    
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedSubCategoryColumns; sticky:true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedSubCategoryColumns;"></tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Services"> 
                    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 booking ml-zero pall-zero">
                        <div class="col-xl-1 col-sm-2 topwidthcustomer pall-zero">
                            <button mat-raised-button color="primary" (click)="serviceCreate()" class="bookingbtn mt-2"><mat-icon>add</mat-icon>New</button> 
                        </div>
                        <div class="col-sm-4 col-xl-3 col-lg-3 searchField pbzerofield">
                            <mat-form-field>
                                <input matInput (keyup)="applyServiceFilter($event.target.value)" placeholder="Search Service by Name">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>                        
                        <div class="col-xl-6 col-lg-6 col-sm-6 pall-zero pbzerofield paginator">
                            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" class="table-paginator"></mat-paginator>
                        </div>
                    </div>
                    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 booking ml-zero pall-zero">                    
                        <table mat-table [dataSource]="serviceSource" class="mat-elevation-z8" matSort>                
                        <ng-container matColumnDef="sno">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="serviceName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.serviceName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="serviceCategory">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                            <td mat-cell *matCellDef="let element"> {{element.serviceCategory}} </td>
                        </ng-container>
                        <ng-container matColumnDef="serviceSubCategory">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub category </th>
                            <td mat-cell *matCellDef="let element"> {{element.serviceSubCategory}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="servicePrice">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                            <td mat-cell *matCellDef="let element"> {{element.servicePrice}} </td>
                        </ng-container>
                        <ng-container matColumnDef="serviceDuration">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration (In Hours) </th>
                            <td mat-cell *matCellDef="let element"> {{element.serviceDuration}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let element; let i=index;">
                                <mat-icon color="primary" class="actionicon" matTooltip="View" (click)="openViewModal(element)">remove_red_eye</mat-icon>              
                                <mat-icon color="primary" class="actionicon" matTooltip="Edit">edit</mat-icon>                                   
                                <mat-icon color="warn" class="actionicon" matTooltip="Delete">delete</mat-icon>             
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
    <!-- <mat-drawer #sideNav mode="side" opened="false" [position]="nav_position" class="rightsidemodal">
        <h2 matDialogTitle class="mb-15">Service Details</h2>
        <mat-dialog-content class="dialog-detail">
            <p>Service Name : {{View?.serviceName}}</p>
            <p>Duration (In Hours) : {{View?.serviceDuration}}</p>
            <p>Category: {{View?.serviceCategory}}</p>
            <p>SubCategory: {{View?.serviceSubCategory}}</p>
            <p>Price: {{View?.servicePrice}}</p>           
            <h4 class="mt-11">Products Used</h4>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>    
                        <th>Sno</th>
                        <th>Product Name</th>
                        <th>Consumed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>LOREAL Shampoo</td>
                        <td>.300ml</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>LOREAL Hair Spa Cream</td>
                        <td>.200ml</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Skeydnor Cleansor</td>
                        <td>.150ml</td>
                    </tr>
                </tbody>
            </table>
        </mat-dialog-content>
        <mat-dialog-actions align="end" class="submit-button">
            <button mat-raised-button color="warn" (click)="sideNav.close()" class="mr-5 mb-5">Close</button>
        </mat-dialog-actions>
    </mat-drawer> -->

    <!-- Category Create -->
    <ng-template #categorycreatetemplate>
        <h2 matDialogTitle class="modal-title">Add Category</h2>
        <mat-dialog-content class="dialog-detail">
            <form method="POST" [formGroup]="serviceCategoryForm"> 
                <div class="form-container">
                    <div class="row col-md-12">
                        <div class="col-md-12">
                            <mat-form-field>
                                <input matInput formControlName="CategoryName" placeholder="Category Name" required>                        
                                    <mat-error *ngIf="serviceCategoryForm.controls['CategoryName'].errors || !serviceCategoryForm.controls['CategoryName'].dirty">
                                        <span *ngIf="serviceCategoryForm.controls['CategoryName'].errors.required">Category Name is required </span>
                                    </mat-error>
                            </mat-form-field> 
                        </div> 
                    </div>     
                </div>
            </form>
        </mat-dialog-content>
        <mat-dialog-actions align="end" class="submit-button">
            <button mat-raised-button color="warn" (click)="cancel()" class="mb-5">Close</button>
            <button mat-raised-button color="primary" class="mb-5 ml-2">Submit</button>
        </mat-dialog-actions>
    </ng-template>

    <!-- Sub Category Create -->
    <ng-template #subcategorycreatetemplate>
            <h2 matDialogTitle class="modal-title">Add Sub Category</h2>
            <mat-dialog-content class="dialog-detail">
                <form method="POST" [formGroup]="serviceSubCategoryForm"> 
                    <div class="form-container">
                        <div class="row col-md-12"> 
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>Category</mat-label>                               
                                    <mat-select formControlName="categoryName">
                                        <mat-option *ngFor="let det of category" [value]="det.value">
                                        {{det.viewValue}}
                                        </mat-option>
                                    </mat-select> 
                                </mat-form-field> 
                            </div>    
                            <div class="col-md-12">
                                <mat-form-field>
                                    <input matInput formControlName="subCategoryName" placeholder="Sub category" required>                        
                                        <mat-error *ngIf="serviceSubCategoryForm.controls['subCategoryName'].errors || !serviceSubCategoryForm.controls['subCategoryName'].dirty">
                                            <span *ngIf="serviceSubCategoryForm.controls['subCategoryName'].errors.required">Sub Category Name is required </span>
                                        </mat-error>
                                </mat-form-field>  
                            </div>     
                        </div>
                    </div>
                </form>
            </mat-dialog-content>
            <mat-dialog-actions align="end" class="submit-button">
                <button mat-raised-button color="warn" (click)="cancel()" class="mb-5">Close</button>
                <button mat-raised-button color="primary" class="mb-5 ml-2">Submit</button>
            </mat-dialog-actions>
    </ng-template>
 
    <div class="modal bookingmodel" id="myModal" [style.display]="showModal ? 'block' : 'none'">
        <div class="modal-dialog">            
            <div class="modal-content">   
                <div class="modal-header">
                    <h5 class="modal-title"> 
                        Service View
                        <span class="fr"> <mat-icon (click)="hide()" class="warn">close</mat-icon> </span>
                    </h5>
                </div>
                <div class="modal-body">                
                        <div class="col-md-12 col-xl-12 col-lg-12"> 
                                <p>Service Name : {{View?.serviceName}}</p>
                                <p>Duration (In Hours) : {{View?.serviceDuration}}</p>
                                <p>Category: {{View?.serviceCategory}}</p>
                                <p>SubCategory: {{View?.serviceSubCategory}}</p>
                                <p>Price: {{View?.servicePrice}}</p>     
                            </div> 
                            <div class="col-md-12 col-xl-12 col-lg-12">
                                <table class="table table-bordered full-width">
                                    <thead>
                                        <tr>    
                                            <th>Sno</th>
                                            <th>Product Name</th>
                                            <th>Consumed</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>LOREAL Shampoo</td>
                                            <td>300ml</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>LOREAL Hair Spa Cream</td>
                                            <td>200ml</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Skeydnor Cleansor</td>
                                            <td>150ml</td>
                                        </tr>
                                    </tbody>
                                </table>                               
                            </div>
                </div>
            <!-- Modal footer -->
                <div class="modal-footer">
                    <button mat-raised-button class="startBillbtn ml-2" (click)="hide()">Close</button>
                </div>
            
            </div>
        </div>
    </div>
            
    <!-- </mat-drawer-container> -->
