<div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 booking ml-1 pall-zero mb-4">            
    <!-- <div class="col-xl-1 col-sm-2 topwidthcustomer pall-zero">
        <h2 class="page-title">Campaigns</h2> 
    </div> -->
    <div class="col-xl-1 col-sm-2 topwidthcustomer">
        <button mat-raised-button [routerLink]="['/beautelabs/cbot-admin/saleCreate']" class="bookingbtn mt-2"><mat-icon>add</mat-icon>New</button> 
    </div>
    <div class="col-xl-3 col-lg-3 col-sm-2 topwidth pbzerofield" fxHide.lt-sm>
        <mat-form-field class="bookingstaff">
            <mat-label>Select</mat-label>
            <mat-select>
                <mat-option value="all">All</mat-option>
                <mat-option value="today">Today</mat-option>
                <mat-option value="last week">Last Week</mat-option>
                <mat-option value="last 15 days">Last 15 Days</mat-option>
                <mat-option value="last month">Last Month</mat-option>
            </mat-select>
        </mat-form-field> 
    </div>
    <div class="col-xl-8 col-lg-8 col-sm-9 pall-zero mall-zero pbzerofield paginator">
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" class="table-paginator"></mat-paginator> 
    </div>
</div>
<div class="row col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12 pall-zero mall-zero newCardView scrollDiv">  
    <div class="col-md-12 col-sm-12 col-xl-12 col-xl-12 col-lg-12">
        <mat-card>
            <mat-card-content class="mb-0">
        <!-- <mat-card class="mt-md col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12" *ngFor="let campaignDet of campaignData | async"> -->
            <!-- <mat-card-header class="rgt">
                <mat-card-title>
                    <h3>{{campaignDet.name}} ({{campaignDet.count}})</h3>
                </mat-card-title>
            </mat-card-header> -->
                <div class="mt-md col-md-12 col-sm-12 col-xl-12 col-lg-12 col-xl-12 campaigndetail" *ngFor="let campaignDet of campaignData | async">
                    <div class="row col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12">               
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                            <h3>{{campaignDet.name}} ({{campaignDet.count}})</h3>
                            <p> {{campaignDet.createDate}}</p>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


