<div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 booking ml-1 pall-zero">                    
    <div class="col-xl-1 col-sm-2 topwidthcustomer">
        <button mat-raised-button [routerLink]="['/beautelabs/cbot-admin/staffCreate']" class="bookingbtn mt-2"><mat-icon>add</mat-icon>New</button> 
    </div>
    <div class="col-xl-4 col-lg-3 col-sm-3 topwidthcustomerField pbzerofield">
        <mat-form-field class="searchInputfull">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Customer by Name / Mobile Number / Email Id">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field> 
    </div>
    <div class="col-xl-7 col-lg-6 col-sm-6 pall-zero mall-zero pbzerofield paginator">
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" class="table-paginator"></mat-paginator> 
    </div>
</div>
<div class="row col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12 pall-zero mall-zero newCardView scrollDiv">
    <mat-card class="mt-2 col-md-4 col-sm-12 col-xs-12 col-lg-3 col-xl-3 staff" *ngFor="let staffList of staffData |  async">
        <mat-card-header fxShow.gt-md class="activeStaff">
            <div *ngIf="staffList.employeeStatus=='Active'" class="greencolor"><mat-icon color="primary" matSuffix>check_box</mat-icon><span>{{staffList.employeeStatus}}</span></div>
            <div *ngIf="staffList.employeeStatus=='InActive'" class="redcolor"><mat-icon color="warn">indeterminate_check_box</mat-icon><span>{{staffList.employeeStatus}}</span></div>
        </mat-card-header>
        <mat-card-content class="mb-0 pl-0">
            <div class="row col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12">
                <div class="col-md-6 col-sm-6 col-xs-4 col-lg-4 col-xl-4">
                    <a href="#"><img src="../../../../assets/images/male.png"></a>
                    <div fxHide.gt-md>
                        <div *ngIf="staffList.employeeStatus=='Active'" class="greencolor"><mat-icon color="primary" matSuffix>check_box</mat-icon><span>{{staffList.employeeStatus}}</span></div>
                        <div *ngIf="staffList.employeeStatus=='InActive'" class="redcolor"><mat-icon color="warn">indeterminate_check_box</mat-icon><span>{{staffList.employeeStatus}}</span></div>                   
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-8 col-lg-8 col-xl-8">
                    <p>{{staffList.employeeFirstName}}</p>
                    <p>{{staffList.employeeDesignation}}</p>
                    <p>{{staffList.employeeMobile}}</p>
                    <p>DOJ : 10/08/2018</p>
                    <p>{{staffList.employeeMobile}}</p>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="rgt">
            <button mat-button color="primary"><mat-icon>edit</mat-icon></button>
        </mat-card-footer>
    </mat-card>
</div> 

<!-- 
Product View -->
<ng-template #viewtemplate>
    <h2 matDialogTitle class="candidate-title">Product Details</h2>
    <mat-dialog-content class="candidate-detail">
        <p>Product Name : {{View?.productName}}</p>
        <p>SKU : {{View?.productSKU}}</p>
        <p>Cost: {{View?.prdductCost}}</p>
        <p>Price: {{View?.productPrice}}</p>
        <p>HSN Code: {{View?.productHSN}}</p>
        <p>Tax Applicable: {{View?.productTax}}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="submit-button">
        <button mat-button (click)="cancel()" class="mr-5 mb-5">Close</button>
    </mat-dialog-actions>
</ng-template>