<div class="forgot-bg">
    <div class="row col-sm-12 col-md-12 col-xl-4 col-md-offset-5" style="height: 100vh;margin:0px;">      
        <mat-card class="loginpage">
            <mat-card-header>
                <img src="../../../../assets/images/logo.png" class="forgotpagelogo"/> 
            </mat-card-header>
            <mat-card-content>
                <div class="forgotpage-title">
                    <h2>Yo! Forgot your Password</h2>
                    <p>Enter your email and we will send you a reset.</p>
                </div>                                
                <form class="mt-2 forgotform">
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Email Id" />
                        </mat-form-field>
                    </p>
                    <mat-card-actions align="start">
                        <button mat-raised-button (click)="validate()" class="signupbtn">Submit</button> 
                    </mat-card-actions>
                </form>                            
            </mat-card-content>
            <p><a (click)="gotoLogin()" class="linkText">Already Have an account? Login to your account</a></p>
        </mat-card>
    </div>    
</div>
