<!-- <div fxLayout="column" fxLayoutAlign="start">
    <div fxLayout="row">
        <div fxFlex="23%" fxLayoutAlign="start">
            <button mat-raised-button color="primary" [routerLink]="['/beautelabs/cbot-admin/bookingCreate']" style="height:35px;" class="mt-2">Add New Appointment</button>                           
        </div>
       
        <div fxFlex="76%" fxHide fxShow.gt-sm fxLayoutAlign="end">
        </div>
    </div>    
</div> -->
<div fxLayout="column" class="booking mb-50">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="bookingicon">event_note</mat-icon>
            </ng-template>
            <!-- <div fxLayout="row">
                <div fxFlex="68%" fxLayoutAlign="start" class="mb-10 mt-2">
                </div>        
                <div fxFlex="30%" fxLayoutAlign="end">
                </div>
            </div>  -->
            <div fxLayout="row">
                <button mat-raised-button color="primary" [routerLink]="['/beautelabs/cbot-admin/bookingCreate']" class="bookingbtn mt-2">Add Appointment</button>    
                <mat-form-field class="bookingstaff">
                    <mat-label>Staff</mat-label>
                    <mat-select>
                        <mat-option value="today">All Staffs</mat-option>
                        <mat-option value="today">Devi</mat-option>
                        <mat-option value="last week">Ramya</mat-option>
                        <mat-option value="last 15 days">Nithya</mat-option>
                        <mat-option value="last month">Ashika</mat-option>
                        <mat-option value="last month">Ravi</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class='app-calendar'>
                    <full-calendar color="success"
                        #calendar
                        defaultView="dayGridMonth"
                        [header]="{
                        left: 'prev,today,next',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        }"
                        [resources]="resources"
                        [events]="events"
                        [nowIndicator]= "true"
                        [resourceLabelText]="resourceText"
                        [plugins]="calendarPlugins"
                        [weekends]="calendarWeekends"
                        [events]="events"
                        [allDaySlot] = "false"
                        slotDuration='00:15:00'
                        slotMinutes= '00:15:00'
                        (dateClick)="handleDateClick($event)">
                    </full-calendar>
                </div>                
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="bookingicon">list</mat-icon>
            </ng-template>
            <div class="row col-md-12 col-lg-12 col-xl-12 col-sm-12 mt-2 pall-zero">
                <div class="col-md-4 col-sm-2 col-xl-4 col-lg-4">
                    <button mat-raised-button color="primary" [routerLink]="['/beautelabs/cbot-admin/bookingCreate']" class="bookingbtn mt-2">Add Appointment</button>  
                </div>
                <div class="col-md-4 col-sm-4 col-xl-4 col-lg-4">
                    <mat-form-field>
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="today">Today</mat-option>
                            <mat-option value="last week">Last Week</mat-option>
                            <mat-option value="last 15 days">Last 15 Days</mat-option>
                            <mat-option value="last month">Last Month</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xl-4 col-lg-4 mt-red14 smpage">
                    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
                </div>
            </div>
            <!-- <div class="row col-md-12 col-lg-12 col-xl-12 col-sm-12 mb-red12">
                <div class="col-md-5 col-sm-6 col-xl-6 col-lg-6 mt-red10">
                    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
                </div>                    
            </div> -->
            <!-- <div fxLayout="row" class="mb-red12">
                <div fxFlex="20%" fxLayoutAlign="start">  
                    <button mat-raised-button color="primary" [routerLink]="['/beautelabs/cbot-admin/bookingCreate']" class="bookingbtn mt-2">Add Appointment</button>  
                </div>   
                <div fxFlex="30%" fxLayoutAlign="end" class="mtop-5">
                    <mat-form-field>
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="today">Today</mat-option>
                            <mat-option value="last week">Last Week</mat-option>
                            <mat-option value="last 15 days">Last 15 Days</mat-option>
                            <mat-option value="last month">Last Month</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50%" fxLayoutAlign="start" class="mt-red10">
                        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
                </div>
            </div> -->
            <!-- <div fxLayout="row">
                <div fxFlex="100%" fxLayoutAlign="start" class="mt-red10">
                    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
                </div>
            </div> -->
            <div fxLayout="row">        
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>        
                    <ng-container matColumnDef="sno">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>                
                    
                    <ng-container matColumnDef="mobile">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
                        <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="totalCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Service Today </th>
                        <td mat-cell *matCellDef="let element"> {{element.totalCount}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-flat-button [matMenuTriggerFor]="menu" color="primary">Action</button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                        <mat-icon>edit</mat-icon>
                                        <span>Add Service</span>
                                </button>                    
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
    
</div>
