<div fxLayout="column" fxLayoutAlign="start">
    <div fxLayout="row">
        <div fxFlex="83%" fxLayoutAlign="start">
            <h2>Customers</h2>
        </div>
        <div fxFlex="16%" fxHide fxShow.gt-sm fxLayoutAlign="end">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" [routerLink]="['/beautelabs/cbot-admin/dashboard']"><mat-icon>home</mat-icon></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Customers</li>
                </ol>
                </nav>
        </div>
    </div>    
</div>


<!-- <div class="row col-md-12 mb-10">
    <div class="col-md-3 green-bg br-10">
        <h2>10</h2>
        <p>Active Customers</p>
    </div>
    <div class="col-md-3 light-bluebg br-10">
        <h2>5</h2>
        <p>Existing Customers</p>
    </div>
    <div class="col-md-3 yellow-bg br-10">
        <h2>10</h2>
        <p>Churn Prediction</p>
    </div>
    <div class="col-md-3 red-bg br-10">
        <h2>10</h2>
        <p>Inactive Customers</p>
    </div>
</div> -->
<div fxLayout="column">
    <div fxLayout="row">
        <div fxLayoutAlign="start" fxFlex="60%">
            <!-- <button mat-raised-button color="primary" (click)="customerCreate()" style="height: 35px; margin-top: 1%;">Add Customer</button>  -->
            <button mat-raised-button color="primary" [routerLink]="['/beautelabs/cbot-admin/customerCreate']" style="height: 35px; margin-top: 1%;">Add Customer</button> 
        </div>
        <div fxFlex="26%" fxHide fxShow.gt-sm fxLayoutAlign="middle">
            <mat-form-field class="searchInputfull">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Customer by Name / Mobile Number / Email Id">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>        
        <div fxFlex="14%" fxHide fxShow.gt-sm fxLayoutAlign="end">
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
    </div>
</div>
<div class="row col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12 pl-0">
    <mat-card class="mt-2 col-md-4 col-sm-12 col-xs-12 col-lg-3 col-xl-3 staff" *ngFor="let customerList of customerData | async">
        <mat-card-header class="rgt">
            <mat-card-title>
                <button mat-mini-fab color="accent" *ngIf="customerList.membership" matTooltip="Gold Membership"><mat-icon>card_membership</mat-icon></button>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mb-0">
            <div class="row col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12">
                <div class="col-md-4 col-sm-6 col-xs-4 col-lg-4 col-xl-4">
                    <a href="#" [routerLink]="['/beautelabs/cbot-admin/customerView']"><img src="../../../../assets/images/male.png"></a>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-8 col-lg-8 col-xl-8">
                    <p> {{customerList.name}}</p>
                    <p> {{customerList.mobile}}</p>
                    <p>Last Visit : 10/08/2018</p>
                    <p>Total Bill : ₹ {{customerList.purchaseValue}}</p>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="rgt">
            <button mat-icon-button color="success"><mat-icon>group</mat-icon> 3</button>
            
            <button mat-button color="success"><mat-icon>edit</mat-icon></button>            
        </mat-card-footer>
    </mat-card>
</div> 
    <!-- <div fxLayout="row">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        
        <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
        </ng-container>
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Id </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        
        <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
        </ng-container>
        <ng-container matColumnDef="purchaseValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Purchase Value </th>
            <td mat-cell *matCellDef="let element"> {{element.purchaseValue}} </td>
        </ng-container>
        <ng-container matColumnDef="visitCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit Count </th>
            <td mat-cell *matCellDef="let element"> {{element.visitCount}} </td>
        </ng-container>
        <ng-container matColumnDef="lastVisit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Visit </th>
            <td mat-cell *matCellDef="let element"> {{element.lastVisit}} </td>
        </ng-container>
        
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button [matMenuTriggerFor]="menu" color="primary">Action</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>person</mat-icon>
                        <span>Convert to Member</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div> -->


