 <!-- <div class="logo">
    <a href="#" class="simple-text">
      <div>
        <img src="../../../../assets/images/logo.png" class="toplogo"/>  
      </div>
    </a>
</div> -->

 <div class="sidebar-wrapper">

  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">
              <i class="material-icons">dashboard</i>
              <p>
                  <span class="d-lg-none d-md-block">Stats</span>
              </p>
          </a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">notifications</i>
              <span class="notification">5</span>
              <p>
                  <span class="d-lg-none d-md-block">Some Actions</span>
              </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Mike John responded to your email</a>
              <a class="dropdown-item" href="#">You have 5 new tasks</a>
              <a class="dropdown-item" href="#">You're now friend with Andrew</a>
              <a class="dropdown-item" href="#">Another Notification</a>
              <a class="dropdown-item" href="#">Another One</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">person</i>
              <p>
                  <span class="d-lg-none d-md-block">Account</span>
              </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
      </li>
    </ul>
  </div> 
  <!-- <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
      <mat-nav-list>
          <mat-list-item fxHide fxShow.gt-sm>
              <button mat-icon-button (click)="isExpanded = !isExpanded">
                <mat-icon *ngIf="!isExpanded">chevron_right</mat-icon>
                <mat-icon *ngIf="isExpanded">chevron_left</mat-icon>
              </button>
            </mat-list-item>
        <mat-list-item [routerLink]="['cbot-admin/dashboard']" routerLinkActive="active">
          <mat-icon mat-list-icon matTooltip="Dashboard" matTooltipPosition='right' matTooltipClass="menu-tooltip">dashboard</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Dashboard</h4>
        </mat-list-item>
        <mat-list-item [routerLink]="['cbot-admin/appointment']" routerLinkActive="active">
          <mat-icon mat-list-icon matTooltip="Appointment" matTooltipPosition='right' matTooltipClass="menu-tooltip">event_note</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Appointment</h4>
        </mat-list-item>
        <mat-list-item [routerLink]="['cbot-admin/sales']" routerLinkActive="active">
          <mat-icon mat-list-icon matTooltip="Sales" matTooltipPosition='right' matTooltipClass="menu-tooltip">receipt</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Sales</h4>
        </mat-list-item>
        <mat-list-item [routerLink]="['cbot-admin/campaigns']" routerLinkActive="active">
          <mat-icon mat-list-icon matTooltip="Campaigns" matTooltipPosition='right' matTooltipClass="menu-tooltip">insert_chart</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Campaigns</h4>
        </mat-list-item>
        <mat-list-item [routerLink]="['cbot-admin/customers']" routerLinkActive="active">
          <mat-icon mat-list-icon matTooltip="Customers" matTooltipPosition='right' matTooltipClass="menu-tooltip">person</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Customers</h4>
        </mat-list-item>
        <mat-list-item [routerLink]="['cbot-admin/services']" routerLinkActive="active">
          <mat-icon mat-list-icon matTooltip="Services" matTooltipPosition='right' matTooltipClass="menu-tooltip">group_work</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Services</h4>
        </mat-list-item>
        <mat-list-item [routerLink]="['cbot-admin/products']" routerLinkActive="active">
          <mat-icon mat-list-icon matTooltip="Products" matTooltipPosition='right' matTooltipClass="menu-tooltip">shopping_basket</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Products</h4>
        </mat-list-item>
        <mat-list-item [routerLink]="['cbot-admin/vendors']" routerLinkActive="active">
          <mat-icon mat-list-icon matTooltip="Vendors" matTooltipPosition='right' matTooltipClass="menu-tooltip">shopping_cart</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Vendors</h4>
        </mat-list-item>           
        <mat-list-item [matMenuTriggerFor]="purchaseMenu">
          <mat-icon mat-list-icon matTooltip="Purchase" matTooltipPosition='right' matTooltipClass="menu-tooltip">shopping_basket</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Purchase <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
        </mat-list-item>
        <mat-menu #purchaseMenu="matMenu" class="sidebarSubmenu">              
          <button mat-menu-item [routerLink]="['cbot-admin/purchaseOrder']" routerLinkActive="active">
              <mat-icon mat-list-icon>shopping_cart</mat-icon>
              <button mat-flat-button>Purchase Order</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/purchaseBill']" routerLinkActive="active">
            <mat-icon mat-list-icon>shopping_cart</mat-icon>
            <button mat-flat-button>Purchase bill</button>
          </button>
        </mat-menu>
        <mat-list-item [matMenuTriggerFor]="inventoryMenu">
          <mat-icon mat-list-icon matTooltip="Inventory" matTooltipPosition='right' matTooltipClass="menu-tooltip">store_mall_directory</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Inventory <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
        </mat-list-item>
        <mat-menu #inventoryMenu="matMenu" class="sidebarSubmenu">              
          <button mat-menu-item [routerLink]="['cbot-admin/inventory']" routerLinkActive="active">
              <mat-icon mat-list-icon>store_mall_directory</mat-icon>
              <button mat-flat-button>Store Track</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/storeTransfer']" routerLinkActive="active">
            <mat-icon mat-list-icon>store_mall_directory</mat-icon>
            <button mat-flat-button>Transfer</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/location']" routerLinkActive="active">
            <mat-icon mat-list-icon>store_mall_directory</mat-icon>
            <button mat-flat-button>Locations</button>
          </button>
        </mat-menu>
        <mat-list-item [matMenuTriggerFor]="accountsMenu">
          <mat-icon mat-list-icon matTooltip="Accounts" matTooltipPosition='right' matTooltipClass="menu-tooltip">credit_card</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Accounts <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
        </mat-list-item>
        <mat-menu #accountsMenu="matMenu" class="sidebarSubmenu">              
          <button mat-menu-item [routerLink]="['cbot-admin/saleBill']" routerLinkActive="active">
              <mat-icon mat-list-icon>credit_card</mat-icon>
              <button mat-flat-button>Sale Bills</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/vendorBill']" routerLinkActive="active">
            <mat-icon mat-list-icon>credit_card</mat-icon>
            <button mat-flat-button>Vendor Bills</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/cashRegister']" routerLinkActive="active">
            <mat-icon mat-list-icon>credit_card</mat-icon>
            <button mat-flat-button>Bank &amp; Cash</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/dayBook']" routerLinkActive="active">
            <mat-icon mat-list-icon>credit_card</mat-icon>
            <button mat-flat-button>Day Book</button>
          </button>
        </mat-menu>
        <mat-list-item [matMenuTriggerFor]="hrMenu">
          <mat-icon mat-list-icon matTooltip="HR" matTooltipPosition='right' matTooltipClass="menu-tooltip">supervisor_account</mat-icon>
          <h4 mat-line *ngIf="isExpanded">HR <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
        </mat-list-item>
        <mat-menu #hrMenu="matMenu" class="sidebarSubmenu">              
          <button mat-menu-item [routerLink]="['cbot-admin/staffs']" routerLinkActive="active">
              <mat-icon mat-list-icon>supervisor_account</mat-icon>
              <button mat-flat-button>Staff</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/attendance']" routerLinkActive="active">
            <mat-icon mat-list-icon>supervisor_account</mat-icon>
            <button mat-flat-button>Attendance</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/payroll']" routerLinkActive="active">
            <mat-icon mat-list-icon>supervisor_account</mat-icon>
            <button mat-flat-button>Payroll</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/leaves']" routerLinkActive="active">
            <mat-icon mat-list-icon>supervisor_account</mat-icon>
            <button mat-flat-button>Leaves</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/payrollMaster']" routerLinkActive="active">
            <mat-icon mat-list-icon>supervisor_account</mat-icon>
            <button mat-flat-button>Payroll Master</button>
          </button>
        </mat-menu>
        <mat-list-item [matMenuTriggerFor]="dealMenu">
          <mat-icon mat-list-icon matTooltip="Deals" matTooltipPosition='right' matTooltipClass="menu-tooltip">loyalty</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Deals <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
        </mat-list-item>
        <mat-menu #dealMenu="matMenu" class="sidebarSubmenu">              
          <button mat-menu-item [routerLink]="['cbot-admin/giftVoucher']" routerLinkActive="active">
              <mat-icon mat-list-icon>loyalty</mat-icon>
              <button mat-flat-button>Promo / Gift Voucher</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/prepaidCard']" routerLinkActive="active">
            <mat-icon mat-list-icon>loyalty</mat-icon>
            <button mat-flat-button>Prepaid Card</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/loyalty']" (click)="sidenav.toggle()" routerLinkActive="active">
            <mat-icon mat-list-icon>loyalty</mat-icon>
            <button mat-flat-button>Loyalty</button>
          </button>
        </mat-menu>
        <mat-list-item [routerLink]="['cbot-admin/expenses']" routerLinkActive="active">
          <mat-icon mat-list-icon matTooltip="Expenses" matTooltipPosition='right' matTooltipClass="menu-tooltip">credit_card</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Expenses</h4>
        </mat-list-item>
        <mat-list-item [routerLink]="['cbot-admin/reports']" routerLinkActive="active">
          <mat-icon mat-list-icon matTooltip="Reports" matTooltipPosition='right' matTooltipClass="menu-tooltip">report</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Reports</h4>
        </mat-list-item>
        <mat-list-item [routerLink]="['cbot-admin/settings']" routerLinkActive="active">
          <mat-icon mat-list-icon matTooltip="Settings" matTooltipPosition='right' matTooltipClass="menu-tooltip">settings</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Settings</h4>
        </mat-list-item>            
      </mat-nav-list>  
    </mat-sidenav>
    <mat-sidenav-content>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->
 <mat-sidenav-container fixedInViewport="true" class="example-container mat-typography" autosize [hasBackdrop]="false">
  <mat-sidenav #sidenav mode="side" position="start" role="directory" disableClose="true" [opened]="screenWidth > 700">    
    <mat-nav-list fxHide.lt-sm>
      <mat-list-item [routerLink]="['cbot-admin/dashboard']" routerLinkActive="active" class="menuLogo">
       <h2 *ngIf="isExpanded"> <img src="../../../../assets/images/logo-small.png" class="toplogosmall" /> <img src="../../../../assets/images/beauty-labslogo.png" class="toplogo" /></h2>
       <h2 *ngIf="!isExpanded"><img src="../../../../assets/images/logo-small.png" class="toplogosmall" /></h2>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/dashboard']" routerLinkActive="active">
        <mat-icon mat-list-icon matTooltip="Dashboard" matTooltipPosition='right' matTooltipClass="menu-tooltip">dashboard</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Dashboard</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/appointment']" routerLinkActive="active">
        <mat-icon mat-list-icon matTooltip="Appointment" matTooltipPosition='right' matTooltipClass="menu-tooltip">event_note</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Appointment</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/sales']" routerLinkActive="active">
        <mat-icon mat-list-icon matTooltip="Sales" matTooltipPosition='right' matTooltipClass="menu-tooltip">receipt</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Sales</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/campaigns']" routerLinkActive="active">
        <mat-icon mat-list-icon matTooltip="Campaigns" matTooltipPosition='right' matTooltipClass="menu-tooltip">insert_chart</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Campaigns</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/customers']" routerLinkActive="active">
        <mat-icon mat-list-icon matTooltip="Customers" matTooltipPosition='right' matTooltipClass="menu-tooltip">person</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Customers</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/services']" routerLinkActive="active">
        <mat-icon mat-list-icon matTooltip="Services" matTooltipPosition='right' matTooltipClass="menu-tooltip">group_work</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Services</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/products']" routerLinkActive="active">
        <mat-icon mat-list-icon matTooltip="Products" matTooltipPosition='right' matTooltipClass="menu-tooltip">shopping_basket</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Products</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/vendors']" routerLinkActive="active">
        <mat-icon mat-list-icon matTooltip="Vendors" matTooltipPosition='right' matTooltipClass="menu-tooltip">shopping_cart</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Vendors</h4>
      </mat-list-item>           
      <mat-list-item [matMenuTriggerFor]="purchaseMenu">
        <mat-icon mat-list-icon matTooltip="Purchase" matTooltipPosition='right' matTooltipClass="menu-tooltip">shopping_basket</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Purchase <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
      </mat-list-item>
      <mat-menu #purchaseMenu="matMenu" class="sidebarSubmenu">              
        <button mat-menu-item [routerLink]="['cbot-admin/purchaseOrder']" routerLinkActive="active">
            <mat-icon mat-list-icon>shopping_cart</mat-icon>
            <button mat-flat-button>Purchase Order</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/purchaseBill']" routerLinkActive="active">
          <mat-icon mat-list-icon>shopping_cart</mat-icon>
          <button mat-flat-button>Purchase bill</button>
        </button>
      </mat-menu>
      <mat-list-item [matMenuTriggerFor]="inventoryMenu">
        <mat-icon mat-list-icon matTooltip="Inventory" matTooltipPosition='right' matTooltipClass="menu-tooltip">store_mall_directory</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Inventory <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
      </mat-list-item>
      <mat-menu #inventoryMenu="matMenu" class="sidebarSubmenu">              
        <button mat-menu-item [routerLink]="['cbot-admin/inventory']" routerLinkActive="active">
            <mat-icon mat-list-icon>store_mall_directory</mat-icon>
            <button mat-flat-button>Store Track</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/storeTransfer']" routerLinkActive="active">
          <mat-icon mat-list-icon>store_mall_directory</mat-icon>
          <button mat-flat-button>Transfer</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/location']" routerLinkActive="active">
          <mat-icon mat-list-icon>store_mall_directory</mat-icon>
          <button mat-flat-button>Locations</button>
        </button>
      </mat-menu>
      <mat-list-item [matMenuTriggerFor]="accountsMenu">
        <mat-icon mat-list-icon matTooltip="Accounts" matTooltipPosition='right' matTooltipClass="menu-tooltip">credit_card</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Accounts <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
      </mat-list-item>
      <mat-menu #accountsMenu="matMenu" class="sidebarSubmenu">              
        <button mat-menu-item [routerLink]="['cbot-admin/saleBill']" routerLinkActive="active">
            <mat-icon mat-list-icon>credit_card</mat-icon>
            <button mat-flat-button>Sale Bills</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/vendorBill']" routerLinkActive="active">
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <button mat-flat-button>Vendor Bills</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/cashRegister']" routerLinkActive="active">
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <button mat-flat-button>Bank &amp; Cash</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/dayBook']" routerLinkActive="active">
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <button mat-flat-button>Day Book</button>
        </button>
      </mat-menu>
      <mat-list-item [matMenuTriggerFor]="hrMenu">
        <mat-icon mat-list-icon matTooltip="HR" matTooltipPosition='right' matTooltipClass="menu-tooltip">supervisor_account</mat-icon>
        <h4 mat-line *ngIf="isExpanded">HR <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
      </mat-list-item>
      <mat-menu #hrMenu="matMenu" class="sidebarSubmenu">              
        <button mat-menu-item [routerLink]="['cbot-admin/staffs']" routerLinkActive="active">
            <mat-icon mat-list-icon>supervisor_account</mat-icon>
            <button mat-flat-button>Staff</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/attendance']" routerLinkActive="active">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <button mat-flat-button>Attendance</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/payroll']" routerLinkActive="active">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <button mat-flat-button>Payroll</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/leaves']" routerLinkActive="active">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <button mat-flat-button>Leaves</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/payrollMaster']" routerLinkActive="active">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <button mat-flat-button>Payroll Master</button>
        </button>
      </mat-menu>
      <mat-list-item [matMenuTriggerFor]="dealMenu">
        <mat-icon mat-list-icon matTooltip="Deals" matTooltipPosition='right' matTooltipClass="menu-tooltip">loyalty</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Deals <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
      </mat-list-item>
      <mat-menu #dealMenu="matMenu" class="sidebarSubmenu">              
        <button mat-menu-item [routerLink]="['cbot-admin/giftVoucher']" routerLinkActive="active">
            <mat-icon mat-list-icon>loyalty</mat-icon>
            <button mat-flat-button>Promo / Gift Voucher</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/prepaidCard']" routerLinkActive="active">
          <mat-icon mat-list-icon>loyalty</mat-icon>
          <button mat-flat-button>Prepaid Card</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/loyalty']" routerLinkActive="active">
          <mat-icon mat-list-icon>loyalty</mat-icon>
          <button mat-flat-button>Loyalty</button>
        </button>
      </mat-menu>
      <mat-list-item [routerLink]="['cbot-admin/expenses']" routerLinkActive="active">
        <mat-icon mat-list-icon matTooltip="Expenses" matTooltipPosition='right' matTooltipClass="menu-tooltip">credit_card</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Expenses</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/reports']" routerLinkActive="active">
        <mat-icon mat-list-icon matTooltip="Reports" matTooltipPosition='right' matTooltipClass="menu-tooltip">report</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Reports</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/settings']" routerLinkActive="active">
        <mat-icon mat-list-icon matTooltip="Settings" matTooltipPosition='right' matTooltipClass="menu-tooltip">settings</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Settings</h4>
      </mat-list-item>            
    </mat-nav-list>     
    <mat-nav-list fxHide.gt-sm fxHide.sm>
      <mat-list-item [routerLink]="['cbot-admin/dashboard']" routerLinkActive="active" class="menuLogo">
      <h2><img src="../../../../assets/images/logo.png" class="mobtoplogo" /></h2>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/dashboard']" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon matTooltip="Dashboard" matTooltipPosition='right' matTooltipClass="menu-tooltip">dashboard</mat-icon>
        <h4 mat-line>Dashboard</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/appointment']" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon matTooltip="Appointment" matTooltipPosition='right' matTooltipClass="menu-tooltip">event_note</mat-icon>
        <h4 mat-line>Appointment</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/sales']" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon matTooltip="Sales" matTooltipPosition='right' matTooltipClass="menu-tooltip">receipt</mat-icon>
        <h4 mat-line>Sales</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/campaigns']" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon matTooltip="Campaigns" matTooltipPosition='right' matTooltipClass="menu-tooltip">insert_chart</mat-icon>
        <h4 mat-line>Campaigns</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/customers']" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon matTooltip="Customers" matTooltipPosition='right' matTooltipClass="menu-tooltip">person</mat-icon>
        <h4 mat-line>Customers</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/services']" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon matTooltip="Services" matTooltipPosition='right' matTooltipClass="menu-tooltip">group_work</mat-icon>
        <h4 mat-line>Services</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/products']" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon matTooltip="Products" matTooltipPosition='right' matTooltipClass="menu-tooltip">shopping_basket</mat-icon>
        <h4 mat-line>Products</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/vendors']" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon matTooltip="Vendors" matTooltipPosition='right' matTooltipClass="menu-tooltip">shopping_cart</mat-icon>
        <h4 mat-line>Vendors</h4>
      </mat-list-item>           
      <mat-list-item [matMenuTriggerFor]="purchaseMenu">
        <mat-icon mat-list-icon matTooltip="Purchase" matTooltipPosition='right' matTooltipClass="menu-tooltip">shopping_basket</mat-icon>
        <h4 mat-line>Purchase <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
      </mat-list-item>
      <mat-menu #purchaseMenu="matMenu" class="sidebarSubmenu">              
        <button mat-menu-item [routerLink]="['cbot-admin/purchaseOrder']" routerLinkActive="active">
            <mat-icon mat-list-icon>shopping_cart</mat-icon>
            <button mat-flat-button>Purchase Order</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/purchaseBill']" routerLinkActive="active">
          <mat-icon mat-list-icon>shopping_cart</mat-icon>
          <button mat-flat-button>Purchase bill</button>
        </button>
      </mat-menu>
      <mat-list-item [matMenuTriggerFor]="inventoryMenu">
        <mat-icon mat-list-icon matTooltip="Inventory" matTooltipPosition='right' matTooltipClass="menu-tooltip">store_mall_directory</mat-icon>
        <h4 mat-line>Inventory <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
      </mat-list-item>
      <mat-menu #inventoryMenu="matMenu" class="sidebarSubmenu">              
        <button mat-menu-item [routerLink]="['cbot-admin/inventory']" routerLinkActive="active" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>store_mall_directory</mat-icon>
            <button mat-flat-button>Store Track</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/storeTransfer']" routerLinkActive="active" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>store_mall_directory</mat-icon>
          <button mat-flat-button>Transfer</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/location']" routerLinkActive="active" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>store_mall_directory</mat-icon>
          <button mat-flat-button>Locations</button>
        </button>
      </mat-menu>
      <mat-list-item [matMenuTriggerFor]="accountsMenu">
        <mat-icon mat-list-icon matTooltip="Accounts" matTooltipPosition='right' matTooltipClass="menu-tooltip">credit_card</mat-icon>
        <h4 mat-line>Accounts <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
      </mat-list-item>
        <mat-menu #accountsMenu="matMenu" class="sidebarSubmenu">              
          <button mat-menu-item [routerLink]="['cbot-admin/saleBill']" routerLinkActive="active" (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>credit_card</mat-icon>
              <button mat-flat-button>Sale Bills</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/vendorBill']" routerLinkActive="active" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>credit_card</mat-icon>
            <button mat-flat-button>Vendor Bills</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/cashRegister']" routerLinkActive="active" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>credit_card</mat-icon>
            <button mat-flat-button>Bank &amp; Cash</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/dayBook']" routerLinkActive="active" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>credit_card</mat-icon>
            <button mat-flat-button>Day Book</button>
          </button>
        </mat-menu>
      <mat-list-item [matMenuTriggerFor]="hrMenu">
        <mat-icon mat-list-icon matTooltip="HR" matTooltipPosition='right' matTooltipClass="menu-tooltip">supervisor_account</mat-icon>
        <h4 mat-line>HR <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
      </mat-list-item>
      <mat-menu #hrMenu="matMenu" class="sidebarSubmenu">              
        <button mat-menu-item [routerLink]="['cbot-admin/staffs']" routerLinkActive="active" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>supervisor_account</mat-icon>
            <button mat-flat-button>Staff</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/attendance']" routerLinkActive="active" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <button mat-flat-button>Attendance</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/payroll']" routerLinkActive="active" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <button mat-flat-button>Payroll</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/leaves']" routerLinkActive="active" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <button mat-flat-button>Leaves</button>
        </button>
        <button mat-menu-item [routerLink]="['cbot-admin/payrollMaster']" routerLinkActive="active" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <button mat-flat-button>Payroll Master</button>
        </button>
      </mat-menu>
      <mat-list-item [matMenuTriggerFor]="dealMenu">
        <mat-icon mat-list-icon matTooltip="Deals" matTooltipPosition='right' matTooltipClass="menu-tooltip">loyalty</mat-icon>
        <h4 mat-line>Deals <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
      </mat-list-item>
        <mat-menu #dealMenu="matMenu" class="sidebarSubmenu">              
          <button mat-menu-item [routerLink]="['cbot-admin/giftVoucher']" routerLinkActive="active" (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>loyalty</mat-icon>
              <button mat-flat-button>Promo / Gift Voucher</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/prepaidCard']" routerLinkActive="active" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>loyalty</mat-icon>
            <button mat-flat-button>Prepaid Card</button>
          </button>
          <button mat-menu-item [routerLink]="['cbot-admin/loyalty']" routerLinkActive="active" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>loyalty</mat-icon>
            <button mat-flat-button>Loyalty</button>
          </button>
        </mat-menu>
      <mat-list-item [routerLink]="['cbot-admin/expenses']" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon matTooltip="Expenses" matTooltipPosition='right' matTooltipClass="menu-tooltip">credit_card</mat-icon>
        <h4 mat-line>Expenses</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/reports']" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon matTooltip="Reports" matTooltipPosition='right' matTooltipClass="menu-tooltip">report</mat-icon>
        <h4 mat-line>Reports</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['cbot-admin/settings']" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon matTooltip="Settings" matTooltipPosition='right' matTooltipClass="menu-tooltip">settings</mat-icon>
        <h4 mat-line>Settings</h4>
      </mat-list-item>            
    </mat-nav-list>   
   </mat-sidenav>  
   <mat-sidenav-content>
      <div class="main-panel">
        <div class="main-content">
          <!-- <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12">                  
            <div fxHide.gt-sm>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>person</mat-icon>
                  <span>Profile</span>
                </button>
                <button mat-menu-item (click)="logout()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Logout</span>
                </button>
              </mat-menu>
              <img src="../../../../assets/images/logo-small.png" class="toplogosmall" *ngIf="smalllogo" />    
            </div>             
          </div> -->
          <!-- <div class="container-fluid"> -->
            <!-- <router-outlet fxHide.gt-sm></router-outlet>   -->          
            <nav class="navbar navbar-expand-lg navbar-transparent">
              <!-- <div class="row col-md-12 col-sm-12 col-lg-12 col-xl-12 pall-zero mall-zero whitebg">
                <img src="../../../../assets/images/logo.png" class="toplogo"/>         
              </div>         -->
              <div class="container-fluid">           
                <div class="navbar-wrapper">   
                  <!-- <button mat-icon-button (click)="expandMenu()" fxHide fxShow.gt-xs> -->
                  <button mat-icon-button (click)="expandMenu()" fxHide.lt-sm>                    
                    <!-- <mat-icon *ngIf="!isExpanded">chevron_right</mat-icon>
                    <mat-icon *ngIf="isExpanded">chevron_left</mat-icon> -->
                    <mat-icon>menu</mat-icon>
                  </button>                    
                  <button mat-icon-button (click)="mobExpandMenu()" fxHide.gt-sm fxHide.sm>   
                    <img src="../../../../assets/images/logo-small.png" class="mobtoplogosmall" *ngIf="smalllogo" />            
                    <mat-icon>menu</mat-icon>
                  </button>                                                   
                  <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>                     
                             
                  <button mat-icon-button [matMenuTriggerFor]="menu" class="topverticon" fxHide.gt-sm>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>person</mat-icon>
                      <span>Profile</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                      <mat-icon>exit_to_app</mat-icon>
                      <span>Logout</span>
                    </button>
                  </mat-menu>
                </div>  
                  <!-- <img src="../../../../assets/images/logo-small.png" class="toplogosmall" *ngIf="smalllogo" />     -->
                     
                <!-- <button mat-flat-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button> -->
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                  <ul class="navbar-nav">                          
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">notifications</i>
                          <span class="notification">5</span>
                         
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
                          <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
                          <a class="dropdown-item" href="javascript:void(0)">You're now friend with Andrew</a>
                          <a class="dropdown-item" href="javascript:void(0)">Another Notification</a>
                          <a class="dropdown-item" href="javascript:void(0)">Another One</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="javascript:void(0)" id="navbarDropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">person</i>
                          
                      </a>                      
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAccount">
                          <a class="dropdown-item" href="javascript:void(0)"><mat-icon>person</mat-icon> Profile</a>
                          <a class="dropdown-item" (click)="logout()"><mat-icon>exit_to_app</mat-icon> Logout</a>                                
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>   
                
            <router-outlet></router-outlet>           
        </div>
      </div>           
   </mat-sidenav-content>   
</mat-sidenav-container>  
 <!-- <mat-nav-list>    
  <mat-list-item [routerLink]="['cbot-admin/dashboard']" routerLinkActive="active">
    <mat-icon mat-list-icon matTooltip="Dashboard" matTooltipPosition='right' matTooltipClass="menu-tooltip">dashboard</mat-icon>
    <h4 mat-line>Dashboard</h4>
  </mat-list-item>
  <mat-list-item [routerLink]="['cbot-admin/appointment']" routerLinkActive="active">
    <mat-icon mat-list-icon matTooltip="Appointment" matTooltipPosition='right' matTooltipClass="menu-tooltip">event_note</mat-icon>
    <h4 mat-line>Appointment</h4>
  </mat-list-item>
  <mat-list-item [routerLink]="['cbot-admin/sales']" routerLinkActive="active">
    <mat-icon mat-list-icon matTooltip="Sales" matTooltipPosition='right' matTooltipClass="menu-tooltip">receipt</mat-icon>
    <h4 mat-line>Sales</h4>
  </mat-list-item>
  <mat-list-item [routerLink]="['cbot-admin/campaigns']" routerLinkActive="active">
    <mat-icon mat-list-icon matTooltip="Campaigns" matTooltipPosition='right' matTooltipClass="menu-tooltip">insert_chart</mat-icon>
    <h4 mat-line>Campaigns</h4>
  </mat-list-item>
  <mat-list-item [routerLink]="['cbot-admin/customers']" routerLinkActive="active">
    <mat-icon mat-list-icon matTooltip="Customers" matTooltipPosition='right' matTooltipClass="menu-tooltip">person</mat-icon>
    <h4 mat-line>Customers</h4>
  </mat-list-item>
  <mat-list-item [routerLink]="['cbot-admin/services']" routerLinkActive="active">
    <mat-icon mat-list-icon matTooltip="Services" matTooltipPosition='right' matTooltipClass="menu-tooltip">group_work</mat-icon>
    <h4 mat-line>Services</h4>
  </mat-list-item>
  <mat-list-item [routerLink]="['cbot-admin/products']" routerLinkActive="active">
    <mat-icon mat-list-icon matTooltip="Products" matTooltipPosition='right' matTooltipClass="menu-tooltip">shopping_basket</mat-icon>
    <h4 mat-line>Products</h4>
  </mat-list-item>
  <mat-list-item [routerLink]="['cbot-admin/vendors']" routerLinkActive="active">
    <mat-icon mat-list-icon matTooltip="Vendors" matTooltipPosition='right' matTooltipClass="menu-tooltip">shopping_cart</mat-icon>
    <h4 mat-line>Vendors</h4>
  </mat-list-item>           
  <mat-list-item [matMenuTriggerFor]="purchaseMenu">
    <mat-icon mat-list-icon matTooltip="Purchase" matTooltipPosition='right' matTooltipClass="menu-tooltip">shopping_basket</mat-icon>
    <h4 mat-line>Purchase <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
  </mat-list-item>
  <mat-menu #purchaseMenu="matMenu" class="sidebarSubmenu">              
    <button mat-menu-item [routerLink]="['cbot-admin/purchaseOrder']" routerLinkActive="active">
        <mat-icon mat-list-icon>shopping_cart</mat-icon>
        <button mat-flat-button>Purchase Order</button>
    </button>
    <button mat-menu-item [routerLink]="['cbot-admin/purchaseBill']" routerLinkActive="active">
      <mat-icon mat-list-icon>shopping_cart</mat-icon>
      <button mat-flat-button>Purchase bill</button>
    </button>
  </mat-menu>
  <mat-list-item [matMenuTriggerFor]="inventoryMenu">
    <mat-icon mat-list-icon matTooltip="Inventory" matTooltipPosition='right' matTooltipClass="menu-tooltip">store_mall_directory</mat-icon>
    <h4 mat-line>Inventory <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
  </mat-list-item>
  <mat-menu #inventoryMenu="matMenu" class="sidebarSubmenu">              
    <button mat-menu-item [routerLink]="['cbot-admin/inventory']" routerLinkActive="active">
        <mat-icon mat-list-icon>store_mall_directory</mat-icon>
        <button mat-flat-button>Store Track</button>
    </button>
    <button mat-menu-item [routerLink]="['cbot-admin/storeTransfer']" routerLinkActive="active">
      <mat-icon mat-list-icon>store_mall_directory</mat-icon>
      <button mat-flat-button>Transfer</button>
    </button>
    <button mat-menu-item [routerLink]="['cbot-admin/location']" routerLinkActive="active">
      <mat-icon mat-list-icon>store_mall_directory</mat-icon>
      <button mat-flat-button>Locations</button>
    </button>
  </mat-menu>
  <mat-list-item [matMenuTriggerFor]="accountsMenu">
    <mat-icon mat-list-icon matTooltip="Accounts" matTooltipPosition='right' matTooltipClass="menu-tooltip">credit_card</mat-icon>
    <h4 mat-line>Accounts <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
  </mat-list-item>
  <mat-menu #accountsMenu="matMenu" class="sidebarSubmenu">              
    <button mat-menu-item [routerLink]="['cbot-admin/saleBill']" routerLinkActive="active">
        <mat-icon mat-list-icon>credit_card</mat-icon>
        <button mat-flat-button>Sale Bills</button>
    </button>
    <button mat-menu-item [routerLink]="['cbot-admin/vendorBill']" routerLinkActive="active">
      <mat-icon mat-list-icon>credit_card</mat-icon>
      <button mat-flat-button>Vendor Bills</button>
    </button>
    <button mat-menu-item [routerLink]="['cbot-admin/cashRegister']" routerLinkActive="active">
      <mat-icon mat-list-icon>credit_card</mat-icon>
      <button mat-flat-button>Bank &amp; Cash</button>
    </button>
    <button mat-menu-item [routerLink]="['cbot-admin/dayBook']" routerLinkActive="active">
      <mat-icon mat-list-icon>credit_card</mat-icon>
      <button mat-flat-button>Day Book</button>
    </button>
  </mat-menu>
  <mat-list-item [matMenuTriggerFor]="hrMenu">
    <mat-icon mat-list-icon matTooltip="HR" matTooltipPosition='right' matTooltipClass="menu-tooltip">supervisor_account</mat-icon>
    <h4 mat-line>HR <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
  </mat-list-item>
  <mat-menu #hrMenu="matMenu" class="sidebarSubmenu">              
    <button mat-menu-item [routerLink]="['cbot-admin/staffs']" routerLinkActive="active">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <button mat-flat-button>Staff</button>
    </button>
    <button mat-menu-item [routerLink]="['cbot-admin/attendance']" routerLinkActive="active">
      <mat-icon mat-list-icon>supervisor_account</mat-icon>
      <button mat-flat-button>Attendance</button>
    </button>
    <button mat-menu-item [routerLink]="['cbot-admin/payroll']" routerLinkActive="active">
      <mat-icon mat-list-icon>supervisor_account</mat-icon>
      <button mat-flat-button>Payroll</button>
    </button>
    <button mat-menu-item [routerLink]="['cbot-admin/leaves']" routerLinkActive="active">
      <mat-icon mat-list-icon>supervisor_account</mat-icon>
      <button mat-flat-button>Leaves</button>
    </button>
    <button mat-menu-item [routerLink]="['cbot-admin/payrollMaster']" routerLinkActive="active">
      <mat-icon mat-list-icon>supervisor_account</mat-icon>
      <button mat-flat-button>Payroll Master</button>
    </button>
  </mat-menu>
  <mat-list-item [matMenuTriggerFor]="dealMenu">
    <mat-icon mat-list-icon matTooltip="Deals" matTooltipPosition='right' matTooltipClass="menu-tooltip">loyalty</mat-icon>
    <h4 mat-line>Deals <mat-icon class="abspos">keyboard_arrow_down</mat-icon></h4>
  </mat-list-item>
  <mat-menu #dealMenu="matMenu" class="sidebarSubmenu">              
    <button mat-menu-item [routerLink]="['cbot-admin/giftVoucher']" routerLinkActive="active">
        <mat-icon mat-list-icon>loyalty</mat-icon>
        <button mat-flat-button>Promo / Gift Voucher</button>
    </button>
    <button mat-menu-item [routerLink]="['cbot-admin/prepaidCard']" routerLinkActive="active">
      <mat-icon mat-list-icon>loyalty</mat-icon>
      <button mat-flat-button>Prepaid Card</button>
    </button>
    <button mat-menu-item [routerLink]="['cbot-admin/loyalty']" routerLinkActive="active">
      <mat-icon mat-list-icon>loyalty</mat-icon>
      <button mat-flat-button>Loyalty</button>
    </button>
  </mat-menu>
  <mat-list-item [routerLink]="['cbot-admin/expenses']" routerLinkActive="active">
    <mat-icon mat-list-icon matTooltip="Expenses" matTooltipPosition='right' matTooltipClass="menu-tooltip">credit_card</mat-icon>
    <h4 mat-line>Expenses</h4>
  </mat-list-item>
  <mat-list-item [routerLink]="['cbot-admin/reports']" routerLinkActive="active">
    <mat-icon mat-list-icon matTooltip="Reports" matTooltipPosition='right' matTooltipClass="menu-tooltip">report</mat-icon>
    <h4 mat-line>Reports</h4>
  </mat-list-item>
  <mat-list-item [routerLink]="['cbot-admin/settings']" routerLinkActive="active">
    <mat-icon mat-list-icon matTooltip="Settings" matTooltipPosition='right' matTooltipClass="menu-tooltip">settings</mat-icon>
    <h4 mat-line>Settings</h4>
  </mat-list-item>            
</mat-nav-list>  -->
</div>
<!-- <mat-toolbar class="border-btm"  fxHide fxShow.gt-sm> -->


