
@import "app/theme/theme.scss";

.mat-card-header img {
    /* width:100%; */
    height: 70px !important;
}

// .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
//     background:$primary-color-blue;
// }
// .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
//     background-color: #3c4451 !important;
// }
.mat-form-field.mat-focused, .mat-form-field-label {
    // color:$primary-color-lightgrey !important;  
    font-size: 14px !important;
}
.mat-form-field {
    // width:90% !important;
    display: block !important;
}

.mat-table {
    width: 100% !important;
    border:1px solid #e6e9ed !important;
}
.mat-table td,th {
    white-space: pre !important;
    overflow: hidden !important;
}
.wrapmattbl td,th {    
    overflow: hidden !important;
    white-space: nowrap !important;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right:4px !important;
}
th.mat-header-cell:first-of-type
{
    padding-left: 4px !important;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type
{
    padding-left: 0px !important;
}
.wrapmattbl td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type
{
    padding-left: 4px !important;
}
.mat-table .mat-icon {
    font-size: $secondary-font-size-xl !important;
}
.staffcategory th.mat-header-cell {
    width:20% !important;
}
.mat-toolbar {
    background: $primary-color-white !important;
    // border-bottom:1px solid #dee3e7 !important;
}
.mat-icon.mat-primary {
    color:$primary-color-darkblue !important;
}
.mat-toolbar.mat-primary {
    background: $primary-color-lightblack !important;
    background: $primary-color-lightblue !important;
    box-shadow: 2px 0px 2px 0px #505456 !important;    
}
.mat-toolbar-row, .mat-toolbar-single-row {
    padding:0% !important;
    align-items: normal !important;
    height: 46px !important;
}
.mat-toolbar-multiple-rows {
    min-height: 46px !important;
    z-index: 2 !important;
}
.mat-drawer-container {
    // background: #1A2038 !important;
   // background: #222A45 !important; //dark blue color
   background: #EAF0F7 !important; //light color
}
.mat-drawer {
    // background: #222A45 !important;
    background: #222A45 !important;
    min-width: 2% !important;
}
.darkcard {    
    // background: #222a45 !important;
    background: #404860 !important;
}
.darkcard .mat-card-header-text {
    margin: 0px !important;
}
.darkcard .mat-card-content {
    color:rgba(255,255,255,.54)!important;
}
.mat-drawer-content {
    height: 95vh !important; 
    // overflow: hidden !important;
}
.mat-nav-list a {
    color:$primary-color-black !important;
    font-size: $primary-font-size;
}
.mat-list-base .mat-list-item {
    color:$primary-color-black;
    height: 36px !important;
}
.mat-list-item:hover {
    background: #293a54!important;
}
.mat-list-item-content {
    padding:0px 5px !important;
}
.mat-list-item-content .mat-icon {
    color:$primary-color-gray !important;
    font-size: $secondary-font-size-md !important;
}
// .mat-list-item-content .matToolTip {
//     position: absolute !important;
//     left:50% !important;
// }
.mat-list-text {
    color: $primary-color-gray !important;
    font-size: $primary-font-size-sm !important;
    letter-spacing: 0.01em !important;
}
.mat-toolbar img {
    height: 165px !important;
    margin-top: -55px !important;
    margin-left: 0.8%;
}

//paginator
.mat-paginator {
    width:100% !important;
    background: #eaf0f7 !important;
    color:$primary-color-darkblue !important;
}
tr.mat-header-row {
    background:$primary-color-darkblue !important;
   // 
    height:35px !important;    
}
.dashboardTableHeader tr.mat-header-row
{
   // background: #1ca98f !important;
   background: #fff !important;
}
.dashboardTableHeader th button {
    color:#909090 !important;
    font-size: $primary-font-size-sm !important;
    font-family: $primary-font-family-common !important;
}
.mat-header-cell {
    font-size: $secondary-font-size !important;
    letter-spacing: 0.5px !important;
    // font-weight: 500 !important;
    color:$primary-color-white !important;
}
.mat-menu-item {
    height: 35px !important;
    line-height: 35px !important;
    padding:0px 4px !important;
}
button.mat-menu-item {
    min-height: 3vh;
    min-width: 132px !important;
}
.mat-menu-item .mat-flat-button {
    padding: 0px 4px !important;
}
.mat-button {
    outline: 0 !important;
}
span:focus {
    outline: none;
    border: 0;
 }
 .commonSearchField .mat-form-field-appearance-legacy .mat-form-field-outline {
    background: white !important;
  }
.mat-flat-button.mat-success, .mat-raised-button.mat-success, .mat-fab.mat-success, .mat-mini-fab.mat-success
{
    background: $primary-color-darkblue !important;
    color:$primary-color-white !important;
    outline: 0 !important;
}
.mat-raised-button {
    line-height: 30px !important;
    font-size: $secondary-font-size !important;
    padding:0px 6px !important;
    font-family: $primary-font-family-table !important;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    // background: $primary-color-darkblue !important;
    background: $primary-bg-button !important;
   
}
.mat-raised-button .mat-primary {
    background-color: $primary-color-darkblue !important;
    padding: 0px 10px !important;
}
.mat-paginator-page-size-label {
    display: none !important;
}

.mat-paginator.mat-select {
    text-align: center !important;
}
.mat-select-panel {
    min-width: 52px !important
}
.mat-paginator-range-label {
    margin:0px 5px 0px 0px !important;
}
.mat-paginator-container {
    min-height: 40px !important;
}
 .mat-card {
     width:100% !important;
//     padding:11px 2px !important;          
 }
//  .mat-body p, .mat-body-1 p, .mat-typography p {
//      margin: 0 0 8px  !important;
//  }
.newCard
{    
    overflow-y: scroll !important; 
    overflow-x: hidden;
}
.mat-card-footer {
   margin:0 -16px -14px -16px !important;
}
.staff .mat-card-header {
    position: absolute !important;
    right: 10px !important;    
}
.mat-card-content {
    margin-bottom: 5px !important;
}
.mat-radio-label {
    font-family: $primary-font-family-table !important;
}
.mat-card-footer .mat-icon {
    font-size: 20px !important;
}
.mat-flat-button.mat-success, .mat-raised-button.mat-success, .mat-fab.mat-success, .mat-mini-fab.mat-success {
    background: #8bc34a !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #F5F4F4 !important;
}
.mat-tab-labels {
    display: inline-grid !important;
    width:100% !important;
}
.mat-tab-header {
    width:18% !important;
    background: #f5f4f4;
    border: 1px solid #e0e0e0;
    margin-right: 2% !important;
}
.mat-dialog-title {
    font-family: $primary-font-family-table !important;
    font-size: $primary-font-size-md !important;
}
.mat-tab-label {
    justify-content: flex-start !important;
    height: 40px !important;
}
.mat-tab-body-wrapper {
    width:100% !important;
}
.mat-tab-group {
    flex-direction: row !important;
}

.mat-tab-label-active {
    background: #fff;  
    opacity: 1 !important;
    border-left: 3px solid #03a9f4;
}
.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
}

.mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.staff.mat-card-header-text{
    margin:0px !important;
}
.mat-progress-bar {
    position: absolute !important;
    z-index: 5 !important;
}
.mat-list-base {
    padding-top:0px !important;
}
.mat-menu-item .mat-icon {
    color: #272727 !important;
    margin-right: 0px !important;
    font-size: 14px !important;
}
.breadcrumb {
    background: unset !important;    
    font-family: $primary-font-family-table;
    font-size: $primary-font-size;
    padding:0rem 1rem !important;
}
.breadcrumb .active {
    background: unset !important;
    border-right: none !important;
    color:$primary-color-blue;
}
.breadcrumb .mat-icon {
    margin-top:-4px !important;    
}
.breadcrumb a {
    color:$primary-color-lightblack;
}

.customer .mat-tab-group {
    flex-direction: column !important;
}
.customer .mat-tab-labels {
    display: unset !important;
    width: unset !important;
}
.customer .mat-tab-header {
    width:100% !important;
    background: #2c3e50;
    border: 1px solid #e0e0e0;
    margin-right: 2% !important;
    margin-bottom: 2% !important;
    height: 40px !important;
    display: unset !important;
}
.customer .mat-tab-body-wrapper {
    width:100% !important;
}
.customer .mat-tab-label .mat-tab-label-content {
    color:#ffffff;
}
.customer .mat-tab-label-active .mat-tab-label-content  {
    color:#2c3e50;
}

.booking .mat-tab-group {
    flex-direction: column !important;
}
.booking .mat-tab-labels {
    display: unset !important;
    width: unset !important;
}
.booking .mat-tab-header {
    width:30% !important;
    background: transparent;
    border: none;
    height: 21px !important;
    display: unset !important;
}
.booking .mat-tab-body-wrapper {
    width:100% !important;
    margin-top:0.8% !important;
}
.booking .mat-tab-label .mat-tab-label-content {
    color:#ffffff;
}
.booking .mat-tab-label-active .mat-tab-label-content  {
    color:#2c3e50;
}
.booking .mat-tab-label {
    min-width: 50px !important;
    height: 42px !important;
}
.booking .mat-tab-label-active {
    background:transparent !important;
    color:$primary-color-darkblue !important;
    border-left:none !important;
}
.booking .mat-tab-label-active .mat-icon {
    color:$primary-color-darkblue !important;
}
.bookingicon{
    color:#2c3e50  !important;
    font-size: 21px !important;
}
.booking .mat-tab-header{
    margin-top:0.5% !important;
    margin-left:10% !important;
}
.mb-50 {
    margin-top:-50px !important;
}
.mat-form-field-flex {
    padding-left: 3px !important;
    //border-radius: 3px !important;
    border:1px solid rgba(197, 214, 222, .7) !important;
    border-color:#ced4da !important;
    border-radius: 0.25rem;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding:0.5375em 0 !important;
    //padding:0.5em 0 !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background: none !important;
}
.mat-form-field-appearance-standard .mat-form-field-flex {
    padding:0em !important;
}
.mat-form-field-appearance-standard .mat-form-field-underline {
    background-color: rgb(255,255,255,0) !important;
}
.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: $primary-color-darkblue !important;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color:$primary-color-darkblue !important;
}
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: $primary-color-darkblue !important;
}
.mat-form-field-infix {
    border-top:none !important;
}
.mat-select-placeholder {
    color: #1a263a !important;
    font-size: 13px !important;
    padding-left: 3px !important;
}
.selplaceHolder {
    color:$primary-color-darkblue !important;
}
// textarea.mat-input-element {
//     min-height: 8vh !important;
// }
.mat-option {
    line-height: 36px !important;
    height: 36px !important;
}
.mat-option-text {
    font-size: 15px !important;
}
.profileHistory .mat-card-header-text {
    margin:0px !important;
}
.addicon {
    font-size: 17px !important;
    vertical-align: sub !important;
    font-weight: bold !important;
}

//calendar
.mat-calendar-header {
 padding: 0px !important;   
 background: #efefef !important;
}
.mat-calendar-controls {
    margin:0% !important;
}
.mat-datepicker-content .mat-calendar {
    width: 280px !important;
    height: 300px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    font-size: $secondary-font-size !important;
    //top:1.7em !important;
    line-height: 23px !important;
    font-family: $primary-font-family-table !important;
    color:$primary-color-darkblue !important
}
// .mat-drawer-backdrop.mat-drawer-shown {
//     background-color: rgba(0, 0, 0, 0.3) !important;
// }
// .mat-drawer-backdrop.mat-drawer-shown {
//     display:none !important;
// }
.mat-select-value-text {
    font-size: $secondary-font-size !important;
    font-family: $primary-font-family-table !important;
    color:$primary-color-darkblue !important
}
// .mat-form-field-label-wrapper {
//     top: -1.04375em !important;
// }
.dashboardheader .mat-card-header-text {
    margin:0px !important;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.58125em) scale(0.75) perspective(100px) translateZ(0.001px) !important;
    -ms-transform: translateY(-1.28125em) scale(0.75) !important;
    width: 133.3333333333%;
}