/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "material.scss";

@import "app/theme/theme.scss";
@import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css';

body {
    margin:0px !important;
    font-family: $primary-font-family !important;
    background: $primary-color-white !important;
}
* outline {
    background: none !important;
    border:none !important;
}
.primaryBg {
    background: #3C4451;
}
.loadercenter {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
.login-bg {
    // background-image: url('assets/images/login-bg.jpg');
   // background-image: linear-gradient(-90deg,#21e2c0,#37B9E9); // blue and green
    background-image:linear-gradient(to right,#0178bc 0,#00bdda 100%);
    //background-image: linear-gradient(-90deg, #123164, #37B9E9); // dark and light blue 
    // background:#f6f6f6;
}
.loginpage-title {
    font-size: $primary-font-size-xxl;
    font-family: $primary-font-family;
    color:$primary-color-fbblue;
    line-height:$primary-line-height-xxl;
}
.loginpage {
    min-height: 45vh !important;
    padding: 4% !important;    
}
.borderleft {
    border-left: 1px solid #23dfc424 !important;
    padding-left: 5% !important;
}
.loginpage-content {
    font-size: $primary-font-size-xxxl;
    font-family: $primary-font-family;
    padding: 8% 10%;
    line-height:$primary-line-height-xxl;
    // text-align: center;
    color: $primary-color-fbblue;
}

//header
.header {
    //  height: 5vh;
}
.logo {
    // background: #fff;
    background: $primary-color-lightwhite;
    padding: 0px !important;
    margin: 0px !important;
    min-width: 12%;
    width:auto;
}
.logo h1 {
    color: $primary-color-lightgrey;
    padding: 6% 17%;
    font-size: 1.3em;
}
.logo img {
    // height: 40px;
    height: 90%;
    margin: 2%;
}

.menutoggle {
    // padding: 4% !important;
    padding:2% !important;
}

.sidenav-menu {
    padding: 1% !important;
}

//right align
.rgt-btn {
    text-align: right;
    width: 100%;
    margin: 1% 0%;
}
.notification {
    padding-top:0.6%;
}
.notification button {
    width:4%; 
}
.notification .mat-icon {
    color:$primary-color-lightgrey !important;
    font-size: $secondary-font-size-xl !important;
}
.container {
    width:90%;
    margin:1% 4%;
}
.staff {
    // height: 200px;
}
.staff img {
    // height: 110px;
    width:100%;
}
.staff p {
    font-size: $primary-font-size;
    margin-bottom: 5%;
}
.highlight {
    background: #949494;
}
.rgt {
    text-align: right !important;
    // margin-right: 10px !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.t-4 {
    margin-top:4% !important;
}
.mt-11 {
    margin-top:11% !important;
}
.mt-7 {
    margin-top:7% !important;
}
.mt-red7 {
    margin-top:-7px !important;
}
.mt-red14 {
    margin-top: -14px !important;
}
.mt-15 {
    margin-top:15%;
}
.mt-sm {
    margin-top: 0.5%;
}
//Footer
.footer {
    // background: $primary-color-footerbg;
    // position: fixed;
    bottom: 0;
    width:100%;
    height: 40px;
    line-height: 40px;
    z-index: 1;
}
.footer p {
    color: #0f2129;
    text-align: center;
    font-family: rubik;
    font-size: 13px;
}
.main-content {
    padding:0% 1%;
}
//Grid List
.grid-container {
    // display:grid;
    // grid-template-columns: auto auto;
  }
  .grid-container-date {
    display:block;
    grid-template-columns: auto auto;
  }
.grid-container-full {
    display: grid;
    grid-template-columns: auto;
}
.grid-item {
    padding: 5px;
    grid-template-columns: auto auto;
    display: inline-block;
    width: 48%;
    float: left;
}
.grid-full {
    display: inline-table;
    width: 80%;
  }
//Table
th {
     font-family: $primary-font-family-common !important;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.pl-0 {
    padding-left: 0px !important;
}
.pr-5 {
    padding-right: 5px !important;
}
//Notification
.notify-detail {
    min-width:250px;
    width:auto;
}
.notify-header {
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
    font-family: $primary-font-family-common;
    background: #f0f5f7;
    padding: 6% 3% 3% 3%;
}
.notify-content {
    padding:0%;
    border-bottom: 1px solid #f1f1f1;    
}
.notify-content p{
    font-family: $primary-font-family-common;
    font-size: $primary-font-size-sm;
    margin-bottom: 0px;
    padding: 5% 0%;
}
.notify-content:hover {
    background: #f1f1f1;
}
.notify-detail:before {
    content:"";
    position: absolute;
    right: 29px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $primary-color-white transparent;
    z-index:9999;
}
.sidenav-item .mat-icon  {
    position: absolute !important;
    right: 40px;
}
.sidenav-item a{
    font-size: $primary-font-size;
    color:$primary-color-lightgrey;
}
//active menu
.active {
    //background: #ece9e9!important;
    //border-right: 5px solid #03a9f4;
    background: #34496d !important;
}
// .active a{
//     color:$primary-color-lightwhite !important;
// }
// .active .mat-icon{
//     color:$primary-color-lightwhite !important;
// }
.bookingstaff {
   // position: absolute !important;
   // right:15% !important;
  //  margin-top:0.3% !important;
}
.bookingbtn {
    height: 30px !important;
    margin-top: -0% !important;
    background-color: #3498db !important;
    border-color:#3498db !important;
    color:#fff !important;
    line-height: 32px !important;
    padding:0px 10px !important;
}
.bookingbtn .mat-icon {
    font-size: 17px !important;
    font-weight: bold !important;
    vertical-align: sub !important;
}
.searchInput {
    width:40% !important;
}
.searchInput1 {
    width:80% !important;
}
.searchInputfull {
    width: 90% !important;
}
.recurMenu {
    padding: 6% 10%;
    width: 400px;
}
.recurPopupForm {
    margin-top: 5% !important;
}
.recurSelectPopupForm {
    padding:10px !important;
}
.mt-6 {
    margin-top: 6% !important;
}
.ml-2 {
    margin-left: 2% !important;
}
.ml-37 {
    margin-left: 37% !important;
}
.ml-sm {
    margin-left: 1.5% !important;
}
.ml-1 {
    margin-left: 1% !important;
}
.pt-4 {
    padding-top: 3% !important;
}
.pt-22 {
    padding-top: 22% !important;
}
.radioLabel {
    // margin-top: 3%;
    margin-bottom: 0px !important;
    font-weight: 400;
    font-family: roboto;
}
.fr {
    float: right;
    text-align: right;
}
.tr {
    text-align: right;
}
//border-bottom
.border-btm {
    border-bottom: 1px solid #202427;   
}
.horizontalline {
    margin-top: 1px !important;
    margin-bottom: 10px !important;
    border: 0 !important;
    border-top: 1px solid #8e7e7e !important;
}
.profile .mat-icon {
    font-size: 16px !important;
    vertical-align: sub !important;
}
.mt-red10 {
    margin-top:-10px !important;
}
.pall-zero {
    padding:0px !important;
}
.ml-zero {
    margin-left:0px !important;
}
.mr-zero {
    margin-right:0px !important;
}
.pr-zero {
    padding-right: 0px !important;
}
.pl-zero {
    padding-left: 0px !important;
}
.mb-red15 {
    margin-bottom: -15px !important;
}
.mb-red20 {
    margin-bottom: -20px !important;
}
.mb-red20 .material-icons {
    font-size: 15px !important;
    line-height: 20px !important;
}
.pl-53 {
    padding-left: 53px !important;
}
.mt-2 {
    margin-top: 2% !important;
}
.mt-4 {
    margin-top: 4% !important;
}
.t-2 {
    margin-top: 2%;
}
.def {
    margin-top:-50px;
}
.mb-2 {
    margin-bottom: 2%;
}
.mb-5 {
    margin-bottom: 5% !important;
}
.title-btm {
    border-bottom: 1px solid #f6f6f6;
}
.border-btmorange {
    border-bottom:1px solid #f44336
}
.ngx-timepicker {
    height: 47% !important;
    border-bottom: 1px solid #949494 !important;
}
.ngx-material-timepicker-toggle{
    display: none !important;
}
.period-selector__button--active {
    color:#f44336 !important;
}
.light-bluebg {
    background-color: #00bdda;  
    height: 130px;  
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}
.green-bg {
    background-color: #8DC327;
    height: 130px;
    color:#fff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}
.green-bg p, .yellow-bg p, .light-bluebg p, .red-bg p {
    position: absolute;
}
.green-bg h2, .light-bluebg h2, .yellow-bg h2, .red-bg h2 {
    font-size: 3rem;
    color:#fff;
}
.yellow-bg{
    background-color: #FDC006;
    color:#fff;
    height: 130px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}
.red-bg {
    background-color: #F35F62;
    color:#fff;
    height: 130px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}
.br-10 {
    border-radius: 10px;
}
.timepicker__header {
    background-color: #f44336 !important;
}
.col-md-3 {
    flex:0 0 24%;
    width: 24%;
    margin-left: 1%;
}
.col-md-2 {
    flex:0 0 20%;
}
.col-md-4 {
    flex: 1 0 33%;
    width: 33%;
    //margin-left: 0.9%;
}
.col-md-6 {
    flex: 0 0 50%;
    width: 50%;
    //margin-left: 0.9%;
}
.modal-content {
    padding:2% 4% !important;
}
.dialog-title {
    border-bottom: 1px solid #ff3c01;
    width: fit-content;
    /* padding-bottom: 2%; */
    margin-bottom: 6%;
}

.cdk-overlay-container {
    z-index: 1051 !important;
}
.fileField {
    margin-top: 1%;
    font-size: 14px;
}
.greencolor {
    color:#8DC327;
}
.redcolor {
    color:#f44336;
}
.modaldialog-title {
    border-bottom: 1px solid #ececec;
    padding: 0% 0 1% 0;
}
.delbutton {
    padding-top:25% !important;
}
//Customer Create Form
.customerForm {
    padding:10px;
}
.customerview h5 {
    margin-bottom: 2%;
}
.customerview .mat-card-header-text {
    margin:0px !important;
}
.mb-1 {
    margin-bottom: 1%;
}
.addon .mat-card-header-text {
    margin: 0px !important;
}
.page-title {
    font-family: $primary-font-family-common !important;
    font-weight: $primary-font-weight !important;
    font-size: $secondary-font-size-xl !important;
    // padding-left: 1%;
    width:100%;
    color:$primary-color-darkblue !important;
    margin:5px 0px 5px 3px !important;
}
.customerProfile img {
    height: 95px !important;
}
.customer img {
    width:170px;
    height: 160px;
    margin-bottom: 2%;
    border-radius: 50%;
}
.customerBasic img {
    width:170px;
    height: 160px;
    margin-bottom: 2%;
    border-radius: 50%;
}
.customerBasic {
    padding:16px !important;
}
.circleborder {
    width: 172px;
    height: 162px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow:0 0 8px rgba(202, 202, 202, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(202, 202, 202, 0.8);
    -moz-box-shadow: 0 0 8px rgba(202, 202, 202, 0.8);
    margin-left: 8%;
    }
.customer p {
    margin-bottom: 5px;
    line-height: 30px;
}
.addoncustomer p {
    margin-bottom: 10px;
    line-height: 30px;    
}
.addoncustomer a {
    color:$primary-color-fbblue !important;
    font-size: $primary-font-size-md !important;
    padding-right: 1% !important;
}
.addoncustomer span {
    vertical-align: top;
    padding-left: 4%;
}
.addoncustomer .mat-icon {
    background: #f1f1f1;
    border-radius: 50%;
    box-shadow:0 0 8px rgba(202, 202, 202, 0.8);
}
.membership .mat-icon {
    vertical-align: middle;
}
.membership .mat-card-header-text {
    margin-left: -14px !important;
}
.customer span {
    vertical-align: top;
    padding-left: 3%;
}
.customer .mat-icon {
    font-size: $secondary-font-size-xl !important;
    color:$secondary-color-lightblack !important;
}
.customerFooter {
    padding:0px;
    position: absolute;
    bottom: 0px;
    // background: #1ec588;
    background: #57707b;
    width: 100%;
    margin:0 0px 0px -16px !important;
}
.customerFooter p {
    font-size: 13px !important;
    color:#fff;
    margin-bottom: 0px;
    line-height: 30px;
    padding-left: 8%;
    width:100%;
}
.tabhgt {
    min-height: 50vh;
}
.settingstabhgt {
    min-height: 70vh;
}
.matborder {
    border-top:3px solid #57707b !important;
}
.rightsidemodal {
    padding:0% 2% !important;
    min-width: 20% !important;
    background: $primary-color-white !important;
    font-family: $primary-font-family-common;
}
.rightsidemodal .mat-dialog-actions {
    position: absolute;
    bottom: 20px;
    width: 85%;
}
.rightsidemodal.mat-drawer.mat-drawer-side {
    height: 75vh !important;
    border:1px solid #e2e2e2;
}
.dialog-detail img {
    width:60%;
    height: 200px;
}
.bg-white {
    background: $primary-color-white !important;
}
.fc-button {
    padding:0.2em 0.15em !important;
    background: #fff !important;
    color: #000 !important;
    opacity: 1 !important;
    border:1px solid #ddd !important
}
.fc-center h2 {
    margin-bottom: 0px;
    font-size: 11px;
    background: #fff;
    width: auto;
    min-width: 130px;
    text-align: center;
    opacity: 1;
    border:1px solid #ddd !important;
    color: #000;
}
.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.5em !important;
    // margin-top:-14px !important;
    // margin-left: 16% !important;
}
.fc-dayGridMonth-button .bookingstaff {
    top:1% !important;
}
.fc-dayGridMonth-button .bookingbtn {
    top:0.5% !important;
}
.fc-time-grid .fc-slats td {
    height: 4em !important;
}
.fc-day-grid .fc-row {
    height: 10em !important;
}
// .fc-scroller, .fc-day-grid-container {
//     height: auto !important;
//     overflow: hidden !important;
// }
.fc-view-container *, .fc-view-container *:before, .fc-view-container *:after {
    font-size: 11px !important;
}
.fc-icon:hover{
    color:#1a5fd2;
}
.fc-head {
    background: #2c3e500d !important;
}
.fc-day-header {
    height: 45px !important;
    line-height: 45px !important;
}
.fc-day-grid-event {
    margin: 1px 2px 4px 0px;
    padding: 0 1px;
    color: #fff !important;
    border:none !important;
}
.fc-day-grid-event .fc-time {
    display: none;
}
.fc-event, .fc-event-dot {
    background-color: #03a9f4;
}
.fc-event {
    line-height: 1.7 !important;
}
a:not([href]):not([tabindex]) {
    top:696px !important;
    left:0% !important;
    margin-right: 0% !important;
}
.fc-time-grid .fc-event, .fc-time-grid .fc-bgevent {
    position: relative !important;
}
// .fc-prev-button {
//     left: 1410% !important;
//     // margin-top: -55% !important;
//     background: #fff !important;
//     border-color: #dee3e7 !important;
//     color: #000;
// }
// .fc-next-button{
//     position: absolute !important;
//     left:2244% !important;
//     // margin-top: -56% !important;
//     background: #fff !important;
//     border-color: #dee3e7 !important;
//     color: #000;
// }
// .fc-today-button {
//     position: absolute !important;
//     left: 1511% !important;
//     // top: -181% !important;
//     background: #fff !important;
//     opacity: 1 !important;
//     color: #1a263a !important;
//     height: 29px !important;
//     border: 1px solid #dee3e7 !important;
//     width: 90px !important;
//     font-size: $secondary-font-size !important;
// }
.fc-resourceTimeGridDay-button, .fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-timeGridDay-button{
    color: #1a263a !important;
    border-radius: 0 !important;
    background-color: #f7f7f8 !important;
    border: 1px solid #bdbdbd !important;
}
.fc-button-active {
    color: #232323 !important;
    background-color: #F1F1F1 !important;
}
// .fc-center {
//     width: 195px !important;
//     background: #fff !important;   
//     margin-left: -3% !important;
// }
// .fc-center h2 {
//     margin: -1px !important;
//     // margin-top: -23px !important;
//     background: #fff !important;
//     border: 1px solid #dee3e7 !important;
//     margin-left: -1px !important;
//     padding: 0px !important;
//     height: 29px !important;
//     font-family: 'Proxima Nova', sans-serif !important;
//     font-size:$secondary-font-size-sm !important;
//     text-align: center !important;
//     line-height: 29px !important;
// }
.fc-button .fc-icon {
    font-size: 1.2em !important;
}
.addicon {
    font-size: $primary-font-size-xl !important;
    color:$primary-color-darkblue !important;
}
.viewbill {
    vertical-align: bottom !important;
}
.abspos {
    position: absolute !important;
}

//menu
.menuicon {
    margin-top: 2vh;
    padding-left: 8px;
    color: #fff;
    font-size:$primary-font-size-xl;
    margin-bottom: 9%;
}
.menu-tooltip {
    background: $primary-color-darkblue !important;
    color:$primary-color-white !important;
    margin-left: 25px !important;
    height: 30px !important;
    font-size: 14px !important;  
}
.menu-tooltip::before {
    position: absolute;
    right: 29px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $primary-color-white transparent;
    z-index:9999;
}
.iconlink {
    background: $primary-color-darkblue !important;
    color:$primary-color-white !important;
    width: 35px !important;
    padding: 3px 6px 4px 8px !important;
    height: 35px !important;
    line-height: 26px !important;
    margin-right: 10px !important;
    cursor: pointer !important;
}
.inputlink {
    color:$primary-color-linkblue !important;
    font-size: $secondary-font-size-sm !important;
    text-align: right;
    display: flex;
    cursor: pointer !important;
}
.belowlinkinput {
    margin-bottom: -10px !important;
}
.commonlink .mat-icon {
    font-size: 18px !important;
}
.inputlink .mat-icon {
    font-size: 18px !important;
}
.full-width {
    width:99% !important;
}
.recurbtn {
    border:1px solid #ccc !important;
    top:-1px !important;
    color: $primary-color-darkblue !important;
    line-height: 29px !important;
    font-size: $secondary-font-size !important;
}
.delbtn {
    line-height: 30px !important;
    height: 34px !important;
}
.delbtn .mat-icon {
    font-size: 20px !important;
}
.candidate-title {
    padding-left: 1% !important;
}
.fc-license-message {
    display: none !important;
}
.mat-select-content{ 
    font-size: 11px !important;
}
.mb-red12 {
    margin-bottom: -12px !important;
}
.mtop-7 {
    margin-top:7px !important;
}
.mt-red2 {
    margin-top:-2% !important;
}
.mt-red1 {
    margin-top:-1% !important;
}
.mat-tab-label {
    border-top:none !important;
    padding:0px 10px !important;
}
.bookingstaff .mat-form-field-wrapper {
    padding-bottom: 0.25em !important;
}
.topmenu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background: #fff;
    color: #000;
    transform: scaleX(0);
    transition: transform 200ms ease-in;
}
.topmenu::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background: #fff;
    color: #000;
    transform: scaleX(0);
    transition: transform 200ms ease-in;
}
td,th {
    font-size: 11px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
tr.mat-row {
    height: 35px !important;
}
//Responsive Css
//Header
@media only screen and (min-width:620px) and (max-width: 800px) {
    .logo {
        min-width: 22% !important;
    }
    .logo img {
        height: 35px !important;
    }
    .col-md-3 {
        flex:0 0 100%;
        width: 100%;
        margin-left: 0%;
    }
    .col-md-6 {
        width:100%;
        flex:0 0 100%;
        margin-left: 0px;
    }
    .pl-0 {
        padding-left: 13px !important;
        padding-right: 2px !important;
    }
    .activeStaff {
        display: none !important;
    }
    .col-md-4 {
        width:32%;
        flex: 0 0 32%;
        margin-left: 1%;
        margin-top:2%;
    }
    .staff.mat-card-header {
        display: contents !important;
    }
    .staff .mat-card-footer {
        margin:unset !important;
    }
    
  }
  @media only screen and (min-width:200px) and (max-width: 410px) {
    .logo {
        min-width: 30% !important;
    }
  }
  @media only screen and (min-width:420px) and (max-width: 610px) {
    .logo {
        min-width: 27% !important;
    }
  }
  @media only screen and (min-width: 810px) and (max-width: 900px) {
    .logo {
        min-width: 14% !important;
    }
  }
  @media only screen and (max-width: 410px) {
      .header {
          height: 7vh;
      }
  }
  @media only screen and (min-width: 300px) and (max-width: 409px) {
    .header {
        height: 7vh;
    }
}
@media only screen and (min-width: 411px) and (max-width:1200px) {
    .header {
        height: 5vh;
    }
}
//ipad
@media only screen and (min-width: 521px) and (max-width:768px) {
    .grid-container {
    //    display: grid;
    //    grid-template-columns: auto;
        }
    .grid-item {
        width:100% !important;
    }
    // .cdk-overlay-pane {
    //     width:100% !important;
    // }
    // .fc-toolbar.fc-header-toolbar {
    //     margin-top:30px !important;
    // }
    .booking .mat-tab-header {
        margin-top: 1.5% !important;
        margin-left: 23% !important;
    }
    // .fc-prev-button {
    //     left:-100% !important;
    // }
    // .fc-next-button {
    //     left:659% !important;
    // }
    // .fc-center {
    //     margin-left: -36% !important;
    // }
    .bookingstaff {
        position: absolute !important;
        right: 23% !important;
        margin-top: 7.5% !important;
        width: 23% !important;
    }
    // .fc-today-button {
    //     left:unset !important;
    // }
    // .fc-toolbar.fc-header-toolbar {
    //     margin-top:7%;
    //     margin-left: 6% !important;
    // }
    .mat-drawer-container {
        min-height: 83vh !important;
    }
    .booking .mat-tab-body-wrapper {
        margin-top:2% !important;
    }
}
.fc-body .fc-scroller {
    min-height: 400px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    height:660px !important;
}
.mt-red4 {
    margin-top:-4% !important;
}
//iphone S
@media only screen and (min-width: 300px) and (max-width:520px) {
    .mat-paginator-container {
        display: unset !important;
    }
    .mat-paginator-page-size {
        width:30% !important;
        float: left !important;
    }
    .mat-paginator-range-actions {
        width:66% !important;
        float: left !important;
    }
    .mtop-5 {
        margin-top:5% !important;
    }   
    .fc-body .fc-scroller {
        height: 400px !important;
    }
    .smpage{
        flex: 0 0 100%;
        width: 100%;
    }
    .grid-container {
    //    display: grid;
    //    grid-template-columns: auto;
        }
    .fc-time-grid .fc-slats td {
        height: 2em !important;
    }
    .fc-view-container *, .fc-view-container *:before, .fc-view-container *:after {
        font-size: $secondary-font-size-xs !important;
    }
    .fc-scroller, .fc-day-grid-container {
        height: 400px !important;
        overflow: unset !important;
    }
    .grid-item {
        width:100% !important;
    }
    // .cdk-overlay-pane {
    //     width:100% !important;
    // }
    // .fc-toolbar.fc-header-toolbar {
    //     margin-top:30px !important;
    // }
    .fc-day-grid .fc-row {
        height: 6em !important;
    }
    .booking .mat-tab-header {
        margin-top: 1.5% !important;
        margin-left: 23% !important;
        position: fixed !important;
        z-index: 100000 !important;
    }
    // .fc-prev-button {
    //     left:-97% !important;
    // }
    // .fc-next-button {
    //     left:620% !important;
    // }
    // .fc-center {
    //     width: 107px !important;
    //     position: absolute;
    //     margin-left: 12% !important;
    // }
    .fc-view-container {
        margin-top:2% !important;
    }
    // .mat-tab-body-content {
    //     overflow-x: hidden !important;
    // }
    .mat-raised-button {
        padding:0px 5px !important;
        line-height: 30px !important;
    }
    // .fc-center h2 {
    // }
    // .fc-right {
    //     // position: absolute !important;
    //     // top: 12% !important;
    //     text-align: center !important;
    // }
    .bookingstaff {
      //  position: absolute !important;
        // right: 4% !important;
        // margin-top: 5.5% !important;
        // width: 100% !important;
    }
    // .fc-today-button {
    //     left:unset !important;
    //     width:40px !important;
    // }
    // .fc-toolbar.fc-header-toolbar {
    //   //  margin-top:4%;
    //     margin-left: 6% !important;
    // }
    .booking .mat-tab-header {
        width:60% !important;
        margin-top:0% !important;
        margin-left: 19% !important;
        border-top:none !important;
    }
    .mat-drawer-container {
        min-height: 83vh !important;
    }
    .booking .mat-tab-body-wrapper {
        margin-top:-7% !important;
    }
    .bookingbtn {
      //  margin-top:5% !important;
        height: 30px !important;
        font-size: $secondary-font-size !important;
    }
    .booking .mat-tab-label {
        height: 22px !important;
    }
}
@media only screen and (min-width: 769px) and (max-width:1400px) {
    .grid-item {
        width:100% !important;
    }
    // .fc-toolbar.fc-header-toolbar {
    //     margin-top:1px !important;
    //     margin-left: 25% !important;
    // }
    .booking .mat-tab-header {
        margin-top:4.5% !important;
        margin-left: 2% !important;
        position: absolute !important;
    }
    // .fc-prev-button {
    //     left:10% !important;
    // }
    // .fc-next-button {
    //     left:1090% !important;
    // }
    // .fc-center {
    //     margin-left: -52% !important;
    // }
    // .fc-today-button {
    //     left:110% !important;
    // }
    .bookingstaff {
        // position: absolute !important;
        // right: 23% !important;
        // margin-top: 0.2% !important;
        // width: 23% !important;
    }

    .fc-day-grid .fc-row {
        height: 9em !important;
    }
    .fc-scroller, .fc-day-grid-container {
        height: auto !important;
    }
    .fc-time-grid .fc-slats td {
        height:1em !important;
    }
    .booking .mat-tab-body-wrapper {
        margin-top:5% !important;
    }
}
    @media only screen and (min-width: 1090x) and (max-width:2300px) {
        .grid-item {
            width:100% !important;
        }
        // .fc-toolbar.fc-header-toolbar {
        //     margin-top:30px !important;
        // }
        .booking .mat-tab-header {
            margin-top: 1.5% !important;
            margin-left: 23% !important;
        }
        // .fc-prev-button {
        //     left:10% !important;
        // }
        // .fc-next-button {
        //     left:989% !important;
        // }
        // .fc-center {
        //     margin-left: -48% !important;
        // }
        // .fc-today-button {
        //     left:112% !important;
        // }
    }