/* Global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "material.scss";
@import "app/theme/theme.scss";
@import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css';

body {
    margin:0px !important;
    font-family: $primary-font-family-common !important;
    background: $primary-color-white !important;
    overflow-y: hidden !important;
    outline: none !important;
}
* outline {
    background: none !important;
    border:none !important;
}
.primaryBg {
    background: #3C4451;
}
.loadercenter {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
.login-bg {
    background-image:linear-gradient(to right,#0178bc 0,#00bdda 100%);
}
.loginpage-title {
    font-size: $primary-font-size-xxl;
    font-family: $primary-font-family;
    color:$primary-color-fbblue;
    line-height:$primary-line-height-xxl;
}
.loginpage {
    margin:auto !important;
}
.borderleft {
    border-left: 1px solid #23dfc424 !important;
    padding-left: 5% !important;
}
.loginpage-content {
    font-size: $primary-font-size-xxxl;
    font-family: $primary-font-family;
    padding: 8% 10%;
    line-height:$primary-line-height-xxl;
    color: $primary-color-fbblue;
}
.borderrgt {
    border-right: 1px solid rgba(0, 0, 0,0.05);
}
.borderbtm {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
//header
.header {
}
.logo {
    background: $primary-color-lightwhite;
    padding: 0px !important;
    margin: 0px !important;
    min-width: 12%;
    width:auto;
}
.logo h1 {
    color: $primary-color-lightgrey;
    padding: 6% 17%;
    font-size: 1.3em;
}
.logo img {
    height: 90%;
    margin: 2%;
}

.menutoggle {
    padding:2% !important;
}

.sidenav-menu {
    padding: 1% !important;
}

//right align
.rgt-btn {
    text-align: right;
    width: 100%;
    margin: 1% 0%;
}
.notification {
    padding-top:0.6%;
}
.notification button {
    width: 1%;
    padding: 0px 4px !important;
    min-width: 50px !important;
}
.notification .mat-icon {
    color:$primary-color-lightgrey !important;
    font-size: $secondary-font-size-xl !important;
}
.container {
    width:90%;
    margin:1% 4%;
}
.staff img {
    width:100%;
}
.staff p {
    font-size: $primary-font-size-sm;
    margin-bottom: 1%;
}
.staff {
    width:80% !important
}
.highlight {
    background: #949494;
}
.rgt {
    text-align: right !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.t-4 {
    margin-top:4% !important;
}
.mt-11 {
    margin-top:11% !important;
}
.mt-7 {
    margin-top:7% !important;
}
.mt-red7 {
    margin-top:-7px !important;
}
.mt-red14 {
    margin-top: -14px !important;
}
.mt-15 {
    margin-top:15%;
}
.mt-sm {
    margin-top: 0.5%;
}
.mt-md {
    margin-top: 1% !important;
}
//Footer
.footer {
    bottom: 0;
    width:100%;
    height: 40px;
    line-height: 40px;
    z-index: 1;
}
.footer p {
    color: #0f2129;
    text-align: center;
    font-family: rubik;
    font-size: 13px;
}
.main-content {
    padding:0.8% 1% 0.4% 1%;
}
//Grid List
.grid-container {
    // display:grid;
    // grid-template-columns: auto auto;
  }
  .grid-container-date {
    display:block;
    grid-template-columns: auto auto;
  }
.grid-container-full {
    display: grid;
    grid-template-columns: auto;
}
.grid-item {
    padding: 5px;
    grid-template-columns: auto auto;
    display: inline-block;
    width: 48%;
    float: left;
}
.grid-full {
    display: inline-table;
    width: 80%;
  }
//Table
th {
     font-family: $primary-font-family-common !important;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.pl-0 {
    padding-left: 0px !important;
}
.pl-15 {
    padding-left: 15% !important;
}
.pl-7 {
    padding-left: 7% !important;
}
.pr-5 {
    padding-right: 5px !important;
}
//Notification
.notify-detail {
    min-width:250px;
    width:auto;
}
.notify-header {
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
    font-family: $primary-font-family-common;
    background: #f0f5f7;
    padding: 1% 3% 1% 3%;
}
.notify-content {
    padding:0%;
    border-bottom: 1px solid #f1f1f1;    
}
.notify-content p{
    font-family: $primary-font-family-common;
    font-size: $primary-font-size-sm;
    margin-bottom: 0px;
    padding: 5% 0%;
}
.notify-content:hover {
    background: #f1f1f1;
}
.bg-light {
    background: $primary-color-lightwhite !important;
}
.notify-detail:before {
    content:"";
    position: absolute;
    right: 29px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $primary-color-darkblue transparent;
    z-index:9999;
}
.sidenav-item .mat-icon  {
    position: absolute !important;
    right: 40px;
}
.sidenav-item a{
    font-size: $primary-font-size;
    color:$primary-color-lightgrey;
}
//active menu
.active {
    background: #34496d !important;
}
.bookingstaff {
    margin-top:0.6%;
}
.bookingbtn {
    height: 30px !important;
    margin-top: -0% !important;
    background-color: $primary-color-darkblue !important;
   // border-color:#3498db !important;
    color:#fff !important;
    line-height: 30px !important;
    padding:0px 6px !important;
    min-width: 60px !important;
}
.bookingcancelbtn {
    margin-top: -0% !important;
    background-color: #F44336 !important;
    border-color:#F44336 !important;
    color:#fff !important;
    padding:0px 10px !important;
   
}
.startBillbtn {
    height: 30px !important;
    margin-top: -0% !important;
    background-color: #3498db !important;
    color:#fff !important;
    line-height: 30px !important;
    padding:0px 6px !important;
    min-width: 70px !important;
}
.bookingbtn .mat-icon {
    font-size: 13px !important;
    font-weight: bold !important;
    vertical-align: text-top !important;
    width:15px !important;
}
.searchInput {
    width:40% !important;
}
.searchInput1 {
    width:80% !important;
}
.searchInputfull {
    width: 90% !important;
}
.recurMenu {
    padding: 6% 10%;
    width: 400px;
}
.recurPopupForm {
    padding: 10px !important;
    margin-top: 5% !important;
}
.recurSelectPopupForm {
    padding:10px !important;
}
.mt-6 {
    margin-top: 6% !important;
}
.ml-2 {
    margin-left: 2% !important;
}
.ml-37 {
    margin-left: 37% !important;
}
.ml-sm {
    margin-left: 1.5% !important;
}
.ml-1 {
    margin-left: 1% !important;
}
.pt-4 {
    padding-top: 3% !important;
}
.pt-22 {
    padding-top: 22% !important;
}
.radioLabel {
    margin-bottom: 0px !important;
    font-weight: 400;
    font-family: roboto;
}
.fr {
    float: right;
    text-align: right;
}
.tr {
    text-align: right;
}
.billTitle {
    //border-bottom: 1px solid #efefef;
    line-height: 40px;
    width:96%;
    margin-bottom: 0px !important;
}
.closeicon {
    display: unset !important;
}
.cdk-overlay-pane {
    max-width: 95vw !important;
}
.mat-dialog-container {
    padding:4px !important;
}
//border-bottom
.border-btm {
    border-bottom: 1px solid #202427;   
}
.rbtm {
     right:2% !important;
     bottom:0% !important;
}
.horizontalline {
    margin-top: 3px !important;
    margin-bottom: 10px !important;
    border: 0 !important;
    border-top:1px solid rgba(197, 214, 222, 0.7) !important
}
.profile {
    left:4%;
    font-size: $primary-font-size-sm !important;
}
.profile .mat-icon {
    font-size:$primary-font-size-md !important;    
//    vertical-align: sub !important;
}
.profileHistory button {
    height: 20px !important;
}
.profileHistory .mat-icon {
    font-size: $primary-font-size !important;
}
.mt-red10 {
    margin-top:-10px !important;
}
.pall-zero {
    padding:0px !important;
}
.mall-zero {
    margin:0px !important;
}
.ml-zero {
    margin-left:0px !important;
}
.mr-zero {
    margin-right:0px !important;
}
.pr-zero {
    padding-right: 0px !important;
}
.pl-zero {
    padding-left: 0px !important;
}
.mb-red15 {
    margin-bottom: -15px !important;
}
.mb-red20 {
    margin-bottom: -20px !important;
}
.mb-red20 .material-icons {
    font-size: 15px !important;
    line-height: 20px !important;
}
.pl-53 {
    padding-left: 53px !important;
}
.mt-2 {
    margin-top: 2% !important;
}
.mt-4 {
    margin-top: 4% !important;
}
.t-2 {
    margin-top: 2%;
}
.def {
    margin-top:-50px;
}
.mb-2 {
    margin-bottom: 2% !important;
}
.mb-5 {
    margin-bottom: 5% !important;
}
.title-btm {
    border-bottom: 1px solid #f6f6f6;
}
.border-btmorange {
    border-bottom:1px solid #f44336
}
.ngx-timepicker {
    height: 47% !important;
    border-bottom: 1px solid #949494 !important;
}
.ngx-material-timepicker-toggle{
    display: none !important;
}
.period-selector__button--active {
    color:#f44336 !important;
}
.light-bluebg {
    background-color: #00bdda;  
    height: 130px;  
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}
.green-bg {
    background-color: #8DC327;
    height: 130px;
    color:#fff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}
.green-bg p, .yellow-bg p, .light-bluebg p, .red-bg p {
    position: absolute;
}
.green-bg h2, .light-bluebg h2, .yellow-bg h2, .red-bg h2 {
    font-size: 3rem;
    color:#fff;
}
.yellow-bg{
    background-color: #FDC006;
    color:#fff;
    height: 130px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}
.red-bg {
    background-color: #F35F62;
    color:#fff;
    height: 130px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}
.br-10 {
    border-radius: 10px;
}
.timepicker__header {
    background-color: #f44336 !important;
}
// .col-md-3 {
//     flex:0 0 24%;
//     width: 24%;
//     margin-left: 1%;
// }

.col-md-4 {
    flex: 1 0 33%;
    width: 33%;
}
.modal-header {
    min-height: 16.428571429px;
    padding: 12px 15px;
    border-bottom: 1px solid #e5e5e5;
    background: $primary-color-white !important;
}
.modal-content {
    padding:2% 4% !important;
}
.modal-title {
    width: 100%;
    font-size: $primary-font-size-lg !important;
    color:$primary-color-darkblue !important;
    margin:0% !important;
    font-family: $primary-font-family-common !important;
}
.modal-footer {
    padding: 10px 15px 10px;
    margin-top: 0px !important; 
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-left: 0% !important;
}
.fc-resourceTimeGridDay-view .fc-row {
    //padding:4px !important;
    height: 45px !important;
    line-height: 45px !important;
}
.dialog-title {
    border-bottom: 1px solid #ff3c01;
    width: fit-content;
    margin-bottom: 6%;
}
.topwidth {
    width:20% !important;
}
.topwidth .mat-form-field {
    width:120px !important;
}
.topwidthcustomer {
    width: 25% !important;
}
.topwidthcustomerField {
    width:50% !important;
}
.topwidthcustomerField .mat-form-field{
   // width: 150px !important;
}
.topwidth .mat-form-field-underline {
    display: none !important;
  }

.cdk-overlay-container {
    z-index: 1051 !important;
}
.fileField {
    margin-top: 1%;
    font-size: 14px;
}
.greencolor {
    color:#8DC327;
}
.redcolor {
    color:#f44336;
}
.modal{background: rgba(0,0,0, .5) !important; }
.modal-dialog {
    right: auto;
    left: auto;
    max-width: 600px;
    //top: 25%;
}
.modaldialog-title {
    border-bottom: 1px solid #ececec;
    padding: 0% 0 1% 0;
}
.bookingmodel .modal-content {
    padding: 0% !important;
}
.delbutton {
    padding-top:25% !important;
}
.wraptbl th,td {
    white-space: unset !important;
}
//Customer Create Form
.customerForm {
    padding:10px;
}
.customerview h5 {
    margin-bottom: 2%;
}
.customerview .mat-card-header-text {
    margin:0px !important;
}
.mb-1 {
    margin-bottom: 1%;
}
.mb-11 {
    margin-bottom: 11px !important;
}
.addon .mat-card-header-text {
    margin: 0px !important;
}
.page-title {
    font-family: $primary-font-family-table !important;
    font-weight: $primary-font-weight !important;
    font-size: $primary-font-size-lg !important;
    margin:0px !important;
    width:100%;
    color:$primary-color-darkblue !important;
    // margin:5px 0px 5px 3px !important;
}
.customerProfile img {
    height: 95px !important;    
}
.customer img {
    width:170px;
    height: 160px;
    margin-bottom: 2%;
    border-radius: 50%;
}
.customerBasic img {
    width:170px;
    height: 160px;
    margin-bottom: 2%;
    border-radius: 50%;
}
.customerBasic {
    padding:16px !important;
}
.circleborder {
    width: 172px;
    height: 162px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow:0 0 8px rgba(202, 202, 202, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(202, 202, 202, 0.8);
    -moz-box-shadow: 0 0 8px rgba(202, 202, 202, 0.8);
    margin-left: 8%;
    }
.customer p {
    margin-bottom: 5px;
    line-height: 30px;
}
.addoncustomer p {
    margin-bottom: 10px;
    line-height: 30px;    
}
.addoncustomer a {
    color:$primary-color-fbblue !important;
    font-size: $primary-font-size-md !important;
    padding-right: 1% !important;
}
.addoncustomer span {
    vertical-align: top;
    padding-left: 4%;
}
.addoncustomer .mat-icon {
    background: #f1f1f1;
    border-radius: 50%;
    box-shadow:0 0 8px rgba(202, 202, 202, 0.8);
}
.membership .mat-icon {
    vertical-align: middle;
}
.membership .mat-card-header-text {
    margin-left: -14px !important;
}
.customer span {
    vertical-align: top;
    padding-left: 3%;
}
.customer .mat-icon {
    font-size: $secondary-font-size-xl !important;
    color:$secondary-color-lightblack !important;
}
.customerFooter {
    padding:0px;
    position: absolute;
    bottom: 0px;
    background: #57707b;
    width: 100%;
    margin:0 0px 0px -16px !important;
}
.customerFooter p {
    font-size: 13px !important;
    color:#fff;
    margin-bottom: 0px;
    line-height: 30px;
    padding-left: 8%;
    width:100%;
}
.tabhgt {
    min-height: 50vh;
}
.settingstabhgt {
    min-height: 70vh;
}
.matborder {
    border-top:3px solid #57707b !important;
}
.rightsidemodal {
    padding:0% 2% !important;
    min-width: 20% !important;
    background: $primary-color-white !important;
    font-family: $primary-font-family-common;
}
.rightsidemodal .mat-dialog-actions {
    position: absolute;
    bottom: 20px;
    width: 85%;
}
.mat-dialog-content {
    font-family: $primary-font-family-table !important;
}
.mat-dialog-content  table th,td {
    font-size: $primary-font-size !important;
}
.serviceDet th,td {
    font-size: $primary-font-size !important;
    font-family: $secondary-font-family !important;
}
.rightsidemodal.mat-drawer.mat-drawer-side {
    height: 75vh !important;
    border:1px solid #e2e2e2;
}
.dialog-detail img {
    width:60%;
    height: 200px;
}
.bg-white {
    background: $primary-color-white !important;
}
.fc-button {
    padding:0.2em 0.1em !important;
    background: #fff !important;
    color: #000 !important;
    opacity: 1 !important;
    border:1px solid #ddd !important;
    font-family: $primary-font-family-table !important;
}
.fc-center h2 {
    margin-bottom: 0px;
    font-size: 11px;
    background: #fff;
    width: auto;
    min-width: 130px;
    text-align: center;
    opacity: 1;
    border:1px solid #ddd !important;
    color: #000;
    height: 29px;
    line-height: 29px;
    border-radius: 2px;
    font-family: $primary-font-family-table !important;
}
.fc-right .fc-button {
    width:48px !important;
}
.fc-today-button {
    width:45px !important;
}
.fc-past {
    //background: #bbbbbb;
    background: #f4433678;
    background-size: 5px 5px;
    background-image: linear-gradient(45deg, transparent 46%, rgba(16, 25, 40, 0.2) 49%, rgba(16, 25, 40, 0.2) 51%, transparent 55%);
}
td.fc-day.fc-widget-content.fc-future {
    //background: #78e6c8a1;
    background-image: linear-gradient(45deg, transparent 46%, rgba(16, 25, 40, 0.2) 49%, rgba(16, 25, 40, 0.2) 51%, transparent 55%);
    background-size: 5px 5px;
}
.fc-unthemed td.fc-today {
    // background: #cff5e363;
    // background: #1cd47c30;
    background: #dbde3252;
     background-image: linear-gradient(45deg, transparent 46%, rgba(16, 25, 40, 0.2) 49%, rgba(16, 25, 40, 0.2) 51%, transparent 55%);
     background-size: 5px 5px;
 }
 .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
     border-color: #795548;
 }
.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.5em !important;
}
.fc-dayGridMonth-button .bookingstaff {
    top:1% !important;
}
.fc-dayGridMonth-button .bookingbtn {
    top:0.5% !important;
}
.fc-time-grid .fc-slats td {
    height: 4em !important;
}
.fc-day-grid .fc-row {
    height: 10em !important;
}
.fc-view-container *, .fc-view-container *:before, .fc-view-container *:after {
    font-size: 11px !important;
}
.fc-icon:hover{
    color:#1a5fd2;
}
// .fc-head {
//     background: #2c3e500d !important;
// }
.fc-head-container {
    background: #222;
    color:$primary-color-white !important;
    font-size: $secondary-font-size !important
}

.fc-body {
    background-color: $primary-color-white !important;
}
// .fc th, .fc td {
//     border-style: dotted;
//     border-width: 1px;
//     padding: 0;
//     vertical-align: top;
// }
.fc-day-header {
    height: 45px !important;
    line-height: 45px !important;
}
.fc-day-grid-event {
    margin: 1px 2px 4px 0px;
    padding: 0 1px;
    color: #fff !important;
    border:none !important;
}
.fc-day-grid-event .fc-time {
    display: none;
}
.fc-event, .fc-event-dot {
    background-color: #03a9f4;
}
.fc-event {
    line-height: 1.7 !important;
}
a:not([href]):not([tabindex]) {
    top:696px !important;
    left:0% !important;
    margin-right: 0% !important;
}
.fc-time-grid .fc-event, .fc-time-grid .fc-bgevent {
    position: relative !important;
}
.fc-resourceTimeGridDay-button, .fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-timeGridDay-button{
    color: #1a263a !important;
    border-radius: 0 !important;
    background-color: #f7f7f8 !important;
    border: 1px solid #bdbdbd !important;
}
.fc-button-active {
    color:$primary-color-white !important;
    background: $primary-color-darkblue !important;
}
.fc-button .fc-icon {
    font-size: 1.2em !important;
}
.addicon {
    font-size: $primary-font-size-xl !important;
    color:$primary-color-darkblue !important;
}
.viewbill {
    vertical-align: bottom !important;
}
.abspos {
    position: absolute !important;
}

//menu
.menuicon {
    margin-top: 2vh;
    padding-left: 8px;
    color: #fff;
    font-size:$primary-font-size-xl;
    margin-bottom: 9%;
}
.menu-tooltip {
    background: $primary-color-darkblue !important;
    color:$primary-color-white !important;
    margin-left: 15px !important;
    height: 30px !important;
    font-size: 12px !important;      
   
}
.menu-tooltip::before {
    position: absolute;
    right: 29px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $primary-color-white transparent;
    z-index:9999;
}
.iconlink {
    background: $primary-color-darkblue !important;
    color:$primary-color-white !important;
    width: 35px !important;
    padding: 3px 6px 4px 8px !important;
    height: 35px !important;
    line-height: 26px !important;
    margin-right: 10px !important;
    cursor: pointer !important;
}
.inputlink {
    color:$primary-color-linkblue !important;
    font-size: $secondary-font-size !important;
    font-family: $primary-font-family-table !important;
    text-align: right;
    display: flex;
    cursor: pointer !important;
    margin:3px 0px 2px -7px !important;
}
.belowlinkinput {
    margin-bottom: -10px !important;
}
.commonlink .mat-icon {
    font-size: 18px !important;
}
.inputlink .mat-icon {
    font-size: 18px !important;
}
.full-width {
    width:100% !important;
}
.recurbtn {
    border:1px solid #ccc !important;
    top:-1px !important;
    color: $primary-color-darkblue !important;
    font-size: $secondary-font-size-sm !important;
    line-height: 27px !important;
    padding: 0px 4px !important;
}
.delbtn {
    line-height:30px !important;
    height:30px !important;
}
.delbtn .mat-icon {
    font-size: 19px !important;
}
.customer-title {
    padding-left: 1% !important;
   // font-family: $secondary-font-family !important;
    background: $primary-color-light;
    padding: 0.2em;
    font-size:$primary-font-size-md !important;
    font-weight:$primary-font-weight !important;
}
.fc-license-message {
    display: none !important;
}
.mat-select-content{ 
    font-size: 11px !important;
}
.mb-red12 {
    margin-bottom: -12px !important;
}
.mtop-7 {
    margin-top:7px !important;
}
.mt-red2 {
    margin-top:-2% !important;
}
.mt-red1 {
    margin-top:-1% !important;
}
.mat-tab-label {
    border-top:none !important;
    padding:0px 10px !important;
}
.bookingstaff .mat-form-field-wrapper {
    padding-bottom: 0.25em !important;
}
.topmenu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background: #fff;
    color: #000;
    transform: scaleX(0);
    transition: transform 200ms ease-in;
}
.topmenu::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background: #fff;
    color: #000;
    transform: scaleX(0);
    transition: transform 200ms ease-in;
}
table {
    overflow-x: scroll !important;
}
td,th {
    font-size: $secondary-font-size !important;
    white-space: nowrap !important;
    // overflow: hidden !important;
    // text-overflow: ellipsis !important;
}
tr.mat-row {
    height: 30px !important;
}
 .fc-scroller .fc-day-grid-container {
    height: 350px  !important;
 }
 .fc-scroller .fc-time-grid-container {
    height: 492px  !important;
}
.mt-red4 {
    margin-top:-4% !important;
}
.scrollDiv {
    overflow: scroll !important;
}
.col-lg-11 {
    flex:0 0 91%;
    max-width: 91%;
}
// .col-lg-1 {
//     flex:0 0 8%;
//     max-width: 8%;
// }
.linkText {
    color: #4285F4 !important;
}
.menuchange::after {
    bottom:-7px;
    transition: transform .3s, width .3s, bottom .3s;
}
.bookingStatus {
    margin-right: 3% !important;
}
// .billFooter {
//     justify-content: flex-start !important;
// }
.billFooter.modal-footer>:not(:last-child) {
    margin-right: 0px !important;
}
.saleDet td,th {
    font-family: $primary-font-family-table !important;
    font-size: $primary-font-size !important;
}
.saleDet tr {
    line-height: $primary-line-height-lg !important;
}
.actionicon {
    font-size:$primary-font-size-md !important ;
}
//Responsive Css
//Header
@media only screen and (min-width: 1024px) and (max-width:1025px) {
    .mat-drawer-content {
        margin-left: 4% !important;
    }
    .fc-center {
        margin-left: -13% !important;
    }
    .fc-scroller {
        height: 1055px !important;
    }

}
@media only screen and (min-width: 1020px) and (max-width:1299px)
{
    .newCard {
        height: 80vh !important;
    }
    .newCardTable {
        height: 78vh !important;
        overflow-y: scroll !important;
    }
}


@media only screen and (min-width: 810px)  and (max-width:825px){
    .col-md-2 {
        max-width:30%;
        flex: 0 0 30%;
    }
    .col-md-4 {
        max-width:18%;
        flex: 0 0 18%;
    }
}
@media only screen and (min-width: 992px) {
    .col-lg-7 {
        -ms-flex: 0 0 100%;
         flex: 0 0 100%; 
         max-width: 100%; 
    }
    .col-lg-5 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; 
        max-width: 100%; 
    }
    .col-md-4 {
        max-width:16%;
        flex:0 0 16%;
    }
    .profile{
        left: 5% !important;
    }
}
@media only screen and (min-width: 992px) and(max-width:1000px) {
    .col-lg-3 {
        flex:0 0 64% !important;
        max-width: 64% !important;
    }
    
}
@media only screen and (min-width:710px) and (max-width: 890px) {
    .newCard {
        height: 66vh !important;
    }
    .newCardTable {
        height: 60vh !important;
    }
    .col-md-3 {
        flex:0 0 32%;
        max-width: 32%;
        margin-left: 1%;
    }
    .fc-day-grid-container {
        height: 900px !important;
        overflow-y: scroll !important;
    }
}
@media only screen and (min-width:660px) and (max-width: 710px) {
    .newCard {
        height: 66vh !important;
    }
    .newCardTable {
        height: 66vh !important;
    }
    .col-md-3 {
        flex:0 0 45%;
        max-width: 45%;
        margin-left: 1%;
    }
}
@media only screen and (min-width:620px) and (max-width: 800px) {
    .logo {
        min-width: 22% !important;
    }
    .logo img {
        height: 35px !important;
    }
    .col-md-6 {
        width:100%;
        flex:0 0 100%;
        margin-left: 0px;
    }
    .topwidthcustomerField .mat-form-field{ 
        width:200px !important;
    }
    .pl-0 {
        padding-left: 13px !important;
        padding-right: 2px !important;
    }
    .activeStaff {
        display: none !important;
    }
    .col-md-4 {
        max-width:22%;
        flex: 0 0 22%;
        margin-left: 1%;
    }
    .col-md-8 {
        max-width:66%;
        flex: 0 0 66%;
    }
    .staff.mat-card-header {
        display: contents !important;
    }
    .staff .mat-card-footer {
        margin:unset !important;
    }
    
  }
  @media only screen and (min-width:200px) and (max-width: 410px) {
    .logo {
        min-width: 30% !important;
    }
  }
  @media only screen and (min-width:420px) and (max-width: 610px) {
    .logo {
        min-width: 27% !important;
    }
  }
  @media only screen and (min-width: 810px) and (max-width: 900px) {
    .logo {
        min-width: 14% !important;
    }
  }
  @media only screen and (max-width: 410px) {
      .header {
          height: 7vh;
      }
  }
  @media only screen and (min-width: 300px) and (max-width:319px) {
    .header {
        height: 7vh;
    }
    .col-md-2 {
        flex:0 0 15% !important;
    }
}
@media only screen and (min-width: 568px) and (max-width:738px) {
    .col-md-3 {
        flex: 0 0 49% !important;
        max-width: 49% !important;
        
    }
    .col-md-2 {
        flex: 0 0 30%;
        max-width: 30%;        
    }
    .col-md-1 {
        flex: 0 0 8% !important;
        max-width: 8% !important;        
    }
}
@media only screen and (min-width: 411px) and (max-width:1200px) {
    .header {
        height: 5vh;
    }
}

@media only screen and (min-width: 640px) and (max-width:650px) {
    .fc-day-grid-container  {
        height: 660px  !important;
        overflow-y: scroll !important;
     }
     .fc-time-grid-container {
        height: 765px  !important;
        overflow-y: scroll !important;
    }
}
@media only screen and (min-width: 560px) and (max-width:570px) {
    .fc-center {
        margin-left: 60px;
    }
}
@media only screen and (min-width: 640px) and (max-width:670px) {
    .fc-center {
        margin-left: -15px;
    }
}
@media only screen and (min-width: 730px) and (max-width:768px) {
    .fc-center {
        margin-left: -45px;
    }
}
@media only screen and (min-width: 812px) and (max-width:840px) {
    .fc-center {
        margin-left: -73px;
    }
    .booking {
        margin-top:1% !important;
    }
}
@media only screen and (min-width: 670px) and (max-width:700px) {
    // .col-lg-1 {
    //     flex:0 0 100%;
    //     max-width: 100%;
    // }
    .fc-day-grid-container  {
        height: 1032px  !important;
        overflow-y: hidden !important;
     }
     .fc-time-grid-container {
        height: 765px  !important;
        overflow-y: scroll !important;
    }
}
//ipad
@media only screen and (min-width: 570px) and (max-width:669px) {
    // .col-lg-1 {
    //     flex:0 0 100%;
    //     max-width: 100%;
    // }
    .grid-item {
        width:100% !important;
    }
    .booking {
        margin-top:1% !important;
    }
    .topwidth {
        width: 20% !important;
    }
    .newCard {
        height: 64vh !important;
    }
    .newCardTable {
        height: 60vh !important;
    }
    textarea.mat-input-element {
        min-height: 10vh !important;
    }
    .booking .mat-tab-header {
        margin-top: 1.5% !important;
        margin-left: 23% !important;
    }
    .profile {
        left: 0% !important;
    }
    .booking .mat-tab-body-wrapper {
        margin-top:2% !important;
    }
    .col-md-2 {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .fc-day-grid-container  {
        height: 660px  !important;
        overflow-y: hidden !important;
     }
     .fc-time-grid-container {
        height: 765px  !important;
        overflow-y: scroll !important;
    }
}
@media only screen and (min-width: 701px) and (max-width:732px) {
    .fc-day-grid-container  {
        height: 743px  !important;
        overflow-y: hidden !important;
     }
     .fc-time-grid-container {
        height: 765px  !important;
        overflow-y: scroll !important;
    }
}
@media only screen and (min-width: 733px) and (max-width:768px) {
    .fc-day-grid-container  {
        height: 1055  !important;
        overflow-y: hidden !important;
     }
     .fc-time-grid-container {
        height: 765px  !important;
        overflow-y: scroll !important;
    }
}
@media only screen and (min-width: 701px) and (max-width:768px) {
    // .col-lg-1 {
    //     flex:0 0 100%;
    //     max-width: 100%;
    // }
    .grid-item {
        width:100% !important;
    }
    .booking {
        margin-top:1% !important;
    }
    .topwidth {
        width: 20% !important;
    }
    .newCard {
        height: 64vh !important;
    }
    .newCardTable {
        height: 64vh !important;
    }
    textarea.mat-input-element {
        min-height: 10vh !important;
    }
    .booking .mat-tab-header {
        margin-top: 1.5% !important;
        margin-left: 23% !important;
    }
    .profile {
        left: 0% !important;
    }
    .booking .mat-tab-body-wrapper {
        margin-top:2% !important;
    }
    .col-md-2 {
        flex: 0 0 30%;
        max-width: 30%;
    }
  
}

@media only screen and (min-width: 1500px) { 
    .newCard {
        min-height: 50vh !important;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }
    .newCardTable {
        min-height: 50vh !important;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }
    .mat-drawer-content {
        margin-left: 2% !important;
    }
    .fc-dayGridMonth-view .fc-dayGrid-view {
        overflow-y: scroll !important;
        min-height: 600px !important;
    }
    .fc-timeGridWeek-view .fc-timeGrid-view {
        overflow-y: scroll !important;
        min-height: 600px !important;
    }
    // .modal-dialog {
    //     padding-top:14% !important;
    // }
    .fc-day-grid-container  {
        height: 660px  !important;
        overflow-y: hidden !important;
     }
     .fc-time-grid-container {
        height: 765px  !important;
        overflow-y: scroll !important;
    }
}
@media screen and (min-width: 1200px) and (max-width:1500px) {  
    .fc-day-grid-container  {
     //   height: 945px  !important;
        height: 1055px !important;
        overflow-y: hidden !important;
     }
     .fc-time-grid-container {
        height: 765px  !important;
        overflow-y: scroll !important;
    }
    textarea.mat-input-element {
        min-height: 10vh !important;
    }
    .mat-drawer-content {
        margin-left: 3.6%;
    }
}
// @media only screen and (min-width: 568px) {
//     .fc-day-grid-container  {
//         height: 350px  !important;
//         overflow-y: hidden !important;
//      }
//      .fc-time-grid-container {
//         height: 492px  !important;
//         overflow-y: scroll !important;
//     }
// }
//iphone S
@media only screen and (min-width: 300px) and (max-width:570px) {
    // .col-lg-1 {
    //     flex:0 0 100%;
    //     max-width: 100%;
    // }
    .mat-tab-group {
        flex-direction: column !important;
    }
    .mat-tab-header {
        width:100% !important;
        margin-bottom: 2% !important;
    }
    .mat-tab-labels {
        display: flex !important;
    }
    .mat-tab-label {
        height: 40px !important;
    }
    .modal-title {
        font-size:$secondary-font-size-lg !important;
    }
    .modal-header {
        padding:10px 8px !important
    }
    .billTitle { 
        width:91%;
    }
    textarea.mat-input-element {
        min-height: 10vh !important;
    }
    .newCard {
        height: 78vh !important;
    }
    .newCardTable {
        height: 75vh !important;
    }
    .serField {
        flex: 0 0 75% !important;
        //max-width: 75% !important;
    }
    .col-md-4 {
        flex: 0 0 14% !important;
        max-width: 14% !important;
    }
    .col-md-8 
    {            
        flex: 0 0 84% !important;
        max-width: 84% !important;
          }    
    .col-md-1 {
        flex:0 0 8% !important;
        max-width: 8% !important;
    }
    .profile {
        left:19%;
    }
    .loginpage-content {
        font-size: $primary-font-size-sm;
        font-family: $primary-font-family;
        padding: 8% 10%;
        line-height:$primary-line-height-sm;
        color: $primary-color-fbblue;
    }
    .mat-paginator-container {
        display: unset !important;
    }
    .mat-paginator-page-size {
        //width:30% !important;
        float: left !important;
    }
    .mat-paginator-range-actions {
        width:66% !important;
        float: left !important;
    }
    .mtop-5 {
        margin-top:5% !important;
    }   
    .smpage{
        flex: 0 0 100%;
        width: 100%;
    }
    .fc-time-grid .fc-slats td {
        height: 2em !important;
    }
    .fc-view-container *, .fc-view-container *:before, .fc-view-container *:after {
        font-size: $primary-font-size-xs !important;
       
    }
    .fc-day-header {    
         text-overflow: ellipsis !important;
         overflow: hidden !important;
      //  white-space: pre-line !important;
    }

    .grid-item {
        width:100% !important;
    }
    .fc-day-grid .fc-row {
        height: 6em !important;
    }
   
    .booking {
        margin-top:2% !important;
    }
    .booking .mat-tab-header {
        margin-top: 1.5% !important;
        margin-left: 23% !important;
        position: fixed !important;
        z-index: 100000 !important;
    }
    .fc-view-container {
        margin-top:2% !important;
    }
    .mat-raised-button {
        padding:0px 5px !important;
        line-height: 30px !important;
    }
    .booking .mat-tab-header {
        width:60% !important;
        margin-top:0% !important;
        margin-left: 19% !important;
        border-top:none !important;
    }
    .booking .mat-tab-body-wrapper {
        margin-top:-7% !important;
    }
    .bookingbtn {
        height: 30px !important;
        font-size: $secondary-font-size !important;
    }
    .booking .mat-tab-label {
        height: 22px !important;
    }
    .fc-center h2 {
        min-width: 100px !important;
    }
    .fc-today-button {
        width:40px !important;
    }
    .fc-left .fc-button {
        padding: 0.5em 0.3em !important;
        font-size: 11px !important;
    }
    .fc-right .fc-button {
        width: 41px !important;
        font-size: 12px;
        padding: 0.37em 0em !important;
    }  
    .fc-day-header .fc-widget-header span {
        white-space: normal !important;
    }
}
@media only screen and (min-width: 300px) and (max-width:567px) {
    .fc-day-grid-container  {
        height: 350px  !important;
        overflow-y: hidden !important;
     }
     .fc-time-grid-container {
        height: 492px  !important;
        overflow-y: scroll !important;
    }
}

@media only screen and (min-width: 568px) and (max-width:570px) {
    .fc-day-grid-container  {
        height: 790px  !important;
     }
     .fc-time-grid-container {
        height: 492px  !important;
        overflow-y: scroll !important;
    }
}
@media only screen and (min-width: 620px) and (max-width:1400px) {
   
    .grid-item {
        width:100% !important;
    }   
    .booking .mat-tab-header {
        margin-top:4.5% !important;
        margin-left: 2% !important;
        position: absolute !important;
    }
    .fc-day-grid .fc-row {
        height: 8em !important;
    }
    .fc-time-grid .fc-slats td {
        height:1em !important;
    }
    .booking .mat-tab-body-wrapper {
        margin-top:5% !important;
    }
    .fc-body .fc-scroller {
        overflow-y: scroll !important;        
        overflow-x: hidden !important;
    }
    .fc-dayGridMonth-view {
        overflow-y: hidden !important;
        height: 488px !important;
    }
    .fc-time-grid-container {
        overflow-y: scroll !important;
        height: 492px !important;
    }
    // .fc-day-grid-container {
    //     overflow-y: scroll !important;
    //     height: 1032px !important;
    // }
    .fc-resourceTimeGridDay-view .fc-timeGrid-view {
        overflow-y: scroll !important;
        height: 514px !important;
    }
}
@media only screen and (min-width: 1090x) and (max-width:2300px) {
    .grid-item {
        width:100% !important;
    }
    .booking .mat-tab-header {
        margin-top: 1.5% !important;
        margin-left: 23% !important;
    }
}
  .flex {
    flex: 1 1 auto;
 }    
 
 .scrollable {
     overflow: auto;
     box-sizing: border-box;
     position: absolute;
     right: 0;
     top: 0;
     width: 100%;
     height: 100%;
 }